/*
 * Responsive CSS 0911-Webdesign
 */

@media(width: 320px) {

}

@media(width: 480px) {
	
}

@media(width: 600px) {
	
}

@media(width: 768px) {

}

@media(width: 800px) {
	
}

@media(width: 1024px)  {
	
}


@media(max-width: 320px) and (orientation: portrait) {
	/*critical*/
	body#body.mobile.phone .mobileBreadCrumb--container {
	    top: 60px !important;
	}
	body#body.phone .mobileBreadCrumb--container {
	    left: 5% !important;
	}	
}
@media(max-width: 360px) {
	/*critical*/
	body#body.phone svg#kontakt_ebene #kontaktString {
	    -webkit-transform: scale(0.8) translateY(7px) !important;
	        -ms-transform: scale(0.8) translateY(7px) !important;
	            transform: scale(0.8) translateY(7px) !important;
	}	
	body#body.phone.mobile.start .item-page h2 {
	    font-size: 25px;
	    line-height: 22px;
	    margin: 30px 0px;
	}	
}
@media(width: 600px) and (orientation: portrait) {
	/*critical*/
	body#body.mobile.tablet .mobileBreadCrumb--container {
	    left: 5%;
	}	
}
@media(max-width: 640px) and (orientation: landscape) {
	/*critical*/
	body#body.phone .nav--InsideContainer.secondMenu {
	    margin: 10px 30px 0px;
	}	
}
@media(min-width: 600px) and (orientation: portrait) {
	/*critical*/
	body.tablet .nav--InsideContainer__split,
	body.tablet .nav--InsideContainer.breadcrumb,
	body.tablet .nav--InsideContainer.blog,
	body.tablet .nav--InsideContainer.kontakt,
	body.tablet .nav--InsideContainer.suche {
	    -ms-flex-preferred-size: initial;
	        flex-basis: initial;
	    width: 100%;
	}	
	body#body.tablet nav#subMenu.hamOpen {
	    display: block;
	    overflow: scroll;
	}
	body.tablet .nav--InsideContainer.secondMenu {
	    margin: 30px;
	}
	body.tablet nav#subMenu {
	    background-position: center;
	}	

}
@media(max-width: 680px) and (orientation: portrait) {
	/*critical*/
	body#body.phone:not(.kontakt) {
		background: url(/images/0911-webdesign-bckgr-phone-portrait.jpg) no-repeat;
		background-size: 110%;
    	background-position: 50% 0%;
	}
	body#body.phone footer#footer {
	    bottom: calc(-280px + 512 * ((100vh - 736px) / (736 - 508)));
	}
	body#body.start.phone footer#footer,
	body#body.back.phone footer#footer {
	    bottom: 50px;
	    color: #ababab;
	}		
	body#body.phone .nav--InsideContainer__left {
	    display: block;
	}			
	body.phone.konzeption #gear-inner-kreis {
		-webkit-transform: scale(1.5) translate(0px, -120px);
		    -ms-transform: scale(1.5) translate(0px, -120px);
		        transform: scale(1.5) translate(0px, -120px);	        
	}
	body.phone.entwicklung #gear-inner-kreis,
	body.phone.entwicklung #polyDots circle {
		-webkit-transform: scale(1.5) translate(0px, -120px);
		    -ms-transform: scale(1.5) translate(0px, -120px);
		        transform: scale(1.5) translate(0px, -120px);		        
	}
	body#body.phone nav#mobileBreadcrumb a {
	    padding: 0px 5px 0px 0px;
	    font-size: 12px;
	}	
	body#body.mobile.phone .mobileBreadCrumb--container {
	    top: 80px;
	}	
	body#body.mobile.phone.start .aniMobDot--container,
	body#body.mobile.phone.back .aniMobDot--container {
	    top: 80px;
	}		
	body#body.phone div#startHeader h2 {
		-webkit-transform: translateX(46%);
		    -ms-transform: translateX(46%);
		        transform: translateX(46%);
	}
	body#body.phone h1.headerStart span {
	    font-size: calc(44px + (48 - 44) * ((100vw - 320px) / (414 - 320)));
	}
	body#body.phone div#startHeader h1 {
		font-size: 24px;
	}
	body#body.phone.start svg#Ebene_1,
	body#body.phone.back svg#Ebene_1 {
	            transform: scale(2) translateY(-15px);
	}
}
@media(width: 800px) and (orientation: portrait) {
	/*critical*/
	body.phone .nav--InsideContainer.breadcrumb {
	    outline: 1px solid #4a4a4a;
	}	
	body#body.mobile.tablet .mobileBreadCrumb--container {
	    left: 5%;
	}	
}
@media(max-width: 880px) and (orientation: landscape) {
	/*critical*/
	body#body.phone:not(.kontakt) {
		background: url(/images/0911-webdesign-background-phone.jpg) no-repeat;
		background-size: cover;
    	background-position: 50% 0%;
	}	
	body#body.phone.suche #wrapper footer#footer {
	    bottom: -250vh;
	}
	body#body.phone .nav--InsideContainer__split,
	body#body.phone .nav--InsideContainer.breadcrumb,
	body.phone .nav--InsideContainer.blog,
	body#body.phone .nav--InsideContainer.kontakt,
	body#body.phone .nav--InsideContainer.suche {
	    width: 90%;
	    margin: 40px auto;
	}
	body#body.phone .nav--InsideContainer__left {
		display: block;
	}	
	body#body.phone footer#footer {
		position: absolute;
	}
	body#body.phone footer#footer {
	    bottom: calc(-100% + 32 * ((100vh - 320px) / (414 - 320)));
	}
	body#body.start.phone footer#footer,
	body#body.back.phone footer#footer {
	    bottom: calc(-5% + 32 * ((100vh - 320px) / (414 - 320)));
	}
	body#body.phone .mobileBreadCrumb--container {
	    left: 20%;
	}		
	body.phone ul.subMenu-BreadCrumb li a {
	    line-height: 10px;
	}	
	body#body.phone ul.subMenu-BreadCrumb li {
	    padding-bottom: 15px;
	}
	body#body.phone.kontakt .item-page.specialChar {
		padding: 0px 20px 0 30px;
	}		
	body#body.phone.kontakt p#dsgvo_label,
	body#body.phone.kontakt p.datenschutzHint {
	    width: 80% !important;
	}	
	body#body.phone.mobile.kontakt .item-page.specialChar .articleBody {
	    top: 18vh;
	}	
	body#body.phone .nav--InsideContainer.secondMenu {
	    padding: 1px 0px;
	}
	body#body.phone .nav--InsideContainer__split:nth-child(1) {
		top: 100%;
	}	
	body#body.phone.konzeption #gear-inner-kreis,
	body#body.phone.entwicklung #gear-inner-kreis,
	body#body.phone.performance #gear-inner-kreis,
	body#body.phone.entwicklung #polyDots circle {
		-webkit-transform: scale(1) translate(0px, 0px) !important;
		    -ms-transform: scale(1) translate(0px, 0px) !important;
		        transform: scale(1) translate(0px, 0px) !important;	
	}		
	body#body.site.mobile.phone .item-page.specialChar h2 {
	    margin: 10px 0px 20px;
	}	
	body#body.phone div#startHeader h2 {
		-webkit-transform: translateX(55%);
		    -ms-transform: translateX(55%);
		        transform: translateX(55%);
	}	
	body#body.phone h1.headerStart span {
	    margin: 0px 10px 0px 80px;
	}
	body#body.mobile.phone.start .aniMobDot--container,
	body#body.mobile.phone.back .aniMobDot--container {
	    top: 70px;
	    left: 20px;
	}
	body#body.mobile.phone .item-page h2 {
		margin: 20px 0px 20px;
	    font-size: 21px;
	    line-height: 20px;
	}		
	body#body.mobile.phone .item-page.start h2 {
	    position: relative;
	    top: 30px;
	}	
	body.mobile p.startSpacer {
	    margin: 0;
	    height: 0;
	}
}
@media(width: 768px) and (orientation: portrait) {
	/*critical*/
	body#body.mobile.tablet .mobileBreadCrumb--container {
	    left: 107px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 800px) and (orientation: portrait) {
	/*critical*/
	body#body.tablet .contentWrapper {
	    padding: 50px 20px 50px 100px;
	}	
}
@media(min-height: 737px) and (orientation: portrait) {
	body#body.phone:not(.kontakt) {
    	background-size: 130% !important;
	}
}
@media(max-width: 960px) and (orientation: landscape) {
	body.mobile.tablet .mobileBreadCrumb--container {
	    top: 0px;
	}
	body.mobile.tablet div#kontaktWrapper {
	    top: 5%;
	}
	body.mobile.tablet.specialChar .articleBody p {
	    font-size: 14px;
	}
	body#body.mobile.tablet.specialChar .item-page h2 {
	    font-size: 24px;
	}
	body#body.mobile.start.tablet .aniMobDot--container, 
	body#body.mobile.back.tablet .aniMobDot--container {
	    top: 150px;
	}
	body#body.mobile.start.tablet div#startHeader,
	body#body.mobile.back.tablet div#startHeader {
	    position: relative;
	    top: 30px;
	}
	body#body.mobile.start.tablet p.startSpacer,
	body#body.mobile.back.tablet p.startSpacer {
	    margin: 0;
	    height: 0;
	}
}
@media(max-width: 1024px) {
	/*criitical*/
	body.phone .search.suche.kontakt {
		margin: 20px auto;
	}
	body#body.phone svg#Ebene_1 path,
	body#body.phone svg#Ebene_1 circle,
	body#body.phone svg#Ebene_1 rectangle {
		stroke-width: 3px;
	}
	body#body.phone #svgShape {
	    position: relative;
	}
	body.phone #wrapper.overflowHidden {
	    overflow: hidden;
	}

	body.phone nav#subMenu { /*smooth scroll hamMenu*/
	    position: fixed;
	    -webkit-overflow-scrolling: touch;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
	}
	body#body.phone.suche footer#footer {
	    bottom: -100vh;
	}	
	body.phone .ap_ajax_qc label {
		text-align: left;
	}
	body#body.phone .preLoader--char {
		width: 75px;
	}
	body#body.phone .item-page h2 {
	    font-size: 28px;
	    line-height: 25px;
	    margin: 30px 0px;
	}	
	body#body.phone footer#footer {
	    width: 100%;
	    text-align: center;
	    margin: 0px 0px 10px;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: reverse;
    	    -ms-flex-direction: column-reverse;
    	        flex-direction: column-reverse;
	}
	body#body.start.phone footer#footer,
	body#body.back.phone footer#footer {
	    width: 100%;
	    text-align: center;
	    margin: 0px 0px 10px;
	    display: flex;
    	flex-direction: initial;
    	justify-content: space-between;
	}
	body#body.start.phone p.copyRight,
	body#body.back.phone p.copyRight {
	    margin: 0;
	    padding-left: 20px;
	}
	body#body.start.phone .footer--container,
	body#body.back.phone .footer--container {
	    padding-right: 20px;
	}			
	body#body.phone div#branding h2 {
		margin: 0px;
	}
	body#body.phone div#branding a {
		font-size: 16px;
	}
	body#body.phone div#branding {
	    top: 20px;
	    right: 4%;
	}	
	body#body.phone .close-kontaktIcons {
		font-size: 38px;
	}
	body#body.phone svg#kontakt_ebene #kontaktString {
	    -webkit-transform: scale(0.8) translateY(7px);
	        -ms-transform: scale(0.8) translateY(7px);
	            transform: scale(0.8) translateY(7px);
	}	
	body#body.mobile #dsgvo_label,
	body#body.mobile .datenschutzHint {
	    color: #a7a7a7;
	}	
	body#body.mobile input.dsgvoCheckBox:checked {
	  background-color: #2196F3;
	}
	body#body.mobile input.dsgvoCheckBox {
	    width: 18px;
	    height: 18px;
	    box-shadow: none;
	    background-color: #eee;
	}
	body#body.phone .item-page.kontakt .vcard {
	    left: 0px;
	    top: -40px;
	}	
	body#body.phone.kontakt .item-page.specialChar .articleBody {
	    top: 15vh;
	}	
	body#body.phone .item-page.kontakt .articleBody {
	    width: 100%;
	    left: 0%;
	}	
/*	body.phone.kontakt div#kontaktWrapper {
	    display: none;
	}	*/
	body#body.phone .preLoader {
	    font-size: 32px;
	}
	body#body.mobile.start #preLoader,
	body#body.mobile.back #preLoader {
	    height: 100vh;
	}
	body#body.phone ul.subMenu__list {
	    margin-top: 40px;
	    padding-left: 0px;
	}
	body#body.phone ul.subMenu__list .subMenu__list--link {
	    font-size: 1.5em;
	}
	body.phone .nav--InsideContainer.secondMenu ul li {
	    margin-bottom: 30px;
	}	
	body.phone .nav--InsideContainer__split,
	body.phone .nav--InsideContainer.breadcrumb,
	body.phone .nav--InsideContainer.blog,
	body.phone .nav--InsideContainer.kontakt,
	body.phone .nav--InsideContainer.suche {
	    -ms-flex-preferred-size: initial;
	        flex-basis: initial;
	    width: 100%;
	}	
	body.phone .nav--InsideContainer__split:nth-child(2) {
		top: 0%;
	}
	body#body.phone #menuContainer nav#subMenu.hamOpen	{
		display: block !important;
	    overflow-y: scroll;
	}
/*	body#body.phone nav#subMenu.hamOpen {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}*/
	body.phone .nav--InsideContainer.secondMenu {
	    margin: 30px;
	}
	body.phone nav#subMenu {
	    background-position: center;
	}
	body#body.phone .item-page.specialChar p {
	    font-size: 16px;
	    line-height: 23px;
	}	
	body#body.phone .contentWrapper {
	    padding: 30px 10px 0px;
	}	
	body#body.phone .mobileBreadCrumb--container {
	    top: 30px;
	}	
	body#body.mobile.phone .item-page.specialChar h2 {
		margin: 30px 0px 20px;
	    font-size: 21px;
	    line-height: 26px;
	}
	body#body.mobile.phone .aniMobDot--container {
	    top: 120px;
	    left: 10px;
	}	
	body#body.phone .item-page.specialChar .articleBody {
	    position: relative;
	    top: 16vh;
	    max-width: 90%;
	}
	body#body.phone .item-page.entwicklung .headerWrapper {
	    width: 270px;
	}	
	body#body.phone .item-page.konzeption .headerWrapper {
	    width: 250px;
	}	
	body#body.phone .item-page.performance .headerWrapper {
	    width: 280px;
	}	
	body#body.phone .item-page.design .headerWrapper {
	    width: 190px;
	}
	body#body.phone .headerWrapper {
	    margin: 0;
	    padding: 20px 0px 20px;
	}	
	body#body.mobile.phone h1.headerProgress {
	    font-size: calc(32px + (38 - 32) * ((100vw - 320px) / (1024 - 320)));
	   	line-height: 25px !important;
	}	
	body#body.phone.site {
    	background-position: 50% 0%;
    	position: relative;
    	height: 100vh;
	}	
	body#body.phone .item-page.specialChar {
		width: auto;
		height: auto;
		display: block;
		padding: 0px 20px;
	}
	body#body.phone a.startBtn,
	body#body.phone a.homeBtn,
	body#body.phone button.rippleBtn,
	body#body.phone a.nextBtn {
	    font-size: 16px;
	    text-decoration: none;
	    padding: 10px 38px;
	}
	body#body.phone.linux.btnStart,
	body#body.phone.linux.specialChar {
		overflow-y: scroll;
	}	
	body#body.phone.btnStart,
	body#body.phone.specialChar {
		overflow-y: initial;
		-webkit-overflow-scrolling: touch;
		overflow-x: initial; 
	}
	body.tablet div#startHeader h2 {
	    left: -35px;
	    position: relative;
	}
	body#body.phone.kontakt .item-page.no-svg-layout .articleBody {
		top: initial !important;
	}
	body#body.phone img.subPage-logo.ownMargin {
	    width: 60px;
	}
}
@media only screen and (min-width: 801px) and (max-width: 1024px) and (orientation: portrait) {
	/*critical*/
	body#body.tablet .contentWrapper {
	    padding: 130px;
	}	
}
@media(max-width: 1280px) {
	body#body.desktop #wrapper h1.headerProgress {
	    font-size: 36px;
	}
}
@media(max-width: 1680px) {
	body#body.desktop h1.headerProgress {
	    font-size: 42px;
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
	body#body.tablet svg#svgMenuBkgr rect {
	    transform: scale(1.4) !important;
	}
}
@media(max-width: 1366px) and (orientation: portrait) {
	/*critical*/
	body#body.tablet.suche footer#footer {
	    bottom: -50vh;
	}	
	body#body.tablet svg#svgMenuBkgr rect {
	    transform: scale(1.8) !important;
	}	
	body.mobile div#kontaktWrapper {
	    top: 5%;
	}
/*	body#body.mobile.tablet svg#svgMenuBkgr rect {
	    transform: rotate(90deg);
	    transform-origin: 50% 37.5%;
	    opacity: 0;
	    transition: opacity 0s ease;
	}
	body#body.mobile #svgGrid--container.ifPortraitMobile svg#svgMenuBkgr rect {
		opacity: 1;
		transition: opacity 0.4s ease 0.6s;
	}*/
	body#body #zahnrad-klein {
		opacity: 0.2;
	}
	body#body #zahnrad-gross {
		opacity: 0.1;
	}	
	body#body.mobile .mobileBreadCrumb--container {
	    top: 80px;
	}	
	body.mobile.tablet .mobileBreadCrumb--container {
		left: 12%;
	}
	body.mobile .item-page.performance .headerWrapper,
	body.mobile .item-page.konzeption .headerWrapper,
	body.mobile .item-page.entwicklung .headerWrapper {
	    width: 340px;
	}	
	body.mobile .item-page .headerWrapper {
	    width: 250px;
	}	
	body#body.mobile.start .aniMobDot--container {
	    left: 0px !important;
	}	
	body#body.mobile .aniMobDot--container {
	    top: 160px;
	}	
	body.tablet .contentWrapper {
	    padding: 30px;
	}
	body#body.tablet.site {
    	background-position: -250px 0px;
	}
	body#body.tablet nav#subMenu.hamOpen {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
}
@media(max-width: 1366px) and (orientation: landscape) {
	/*critical*/
	body#body.tablet.suche footer#footer {
	    bottom: -100vh !important;
	}		
/*	body#body.mobile.tablet svg#svgMenuBkgr rect {
	    transform: rotate(0deg);
	    transform-origin: 0% 0%;
	    opacity: 0;
	    transition: opacity 0s ease;
	}*/	
/*	body#body.mobile.tablet svg#svgMenuBkgr rect {
	    -webkit-transform: rotate(0deg) !important;
	        -ms-transform: rotate(0deg) !important;
	            transform: rotate(0deg) !important;
	}*/	
	body.mobile.tablet .mobileBreadCrumb--container {
		left: 35%;
	    /*left: calc(340px + (470 - 340) * ((100vw - 960px) / (1366 - 960)));*/
	}
	body.mobile.tablet .item-page.design .mobileBreadCrumb--container {
		left: 31%;
	}	
	body#body.mobile.tablet h1.headerProgress.performance,
	body#body.mobile.tablet h1.headerProgress.konzeption,
	body#body.mobile.tablet h1.headerProgress.entwicklung {
	    font-size: 41px;
	    line-height: 60px;
	}	
	body.tablet .specialChar .articleBody {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	}
	body.tablet .specialChar.design .headerWrapper {
	    -ms-flex-preferred-size: 25%;
	        flex-basis: 25%;
	}
	body.tablet .specialChar.performance .headerWrapper,
	body.tablet .specialChar.konzeption .headerWrapper {
	    -ms-flex-preferred-size: 30%;
	        flex-basis: 30%;
	}	
	body.tablet .specialChar .headerWrapper {
		width: initial;
	    height: 90px;
	    margin-right: 2%;
	    transition: all 0.2s;
	}
	body.tablet .specialChar .contentWrapper {
	    -ms-flex-preferred-size: 60%;
	        flex-basis: 60%;
    	margin-right: 50px;	        
	}
}
@media(max-width: 1366px) {
	/*critical*/
	body#body.mobile.start.tablet path#header-rect,
	body#body.mobile.back.tablet path#header-rect {
		opacity: 0.2;
	}	
	body.mobile #menuBtnWrapper {
		z-index: 6;
	}
	body#body.tablet.btnStart,
	body#body.tablet.specialChar {
		-webkit-overflow-scrolling: touch;
	}
	body.tablet nav#subMenu { /*smooth scroll hamMenu*/
	    position: fixed;
	    -webkit-overflow-scrolling: touch;
	}
	body#body.mobile ul.subMenu__list a span {
	    opacity: 0;
	}
	body.mobile img.subPage-logo {
	    width: 70px;
	}	
	body.mobile h1.headerProgress.kontakt {
	    margin-top: 10px;
	}
	body#body.mobile.tablet .item-page h2 {
		line-height: 25px;
	}
	body#body.mobile input.dsgvoCheckBox {
	    margin: 5px 5px 5px 0px !important;
	}	
	body#body.mobile div#branding {
	    z-index: 3;
	}
	body#body.mobile div#kontaktWrapper {
	    z-index: 3;    
	}	
	body#body.mobile #footer a,
	body#body.mobile #footer p {
	    font-size: 11px;
	}	
	body#body.tablet .footer--container {
	    right: 4%;
	    bottom: 30px;
	}
	body#body.mobile .item-page.start,
	body#body.mobile .item-page {
		margin-top: 56px;
	}
	body#body.mobile.kontakt .item-page {
		margin-top: 0px;
	}	
	body#body.tablet div#branding a {
		font-size: 18px;
	}
	body#body.tablet div#branding {
	    top: 2%;
	    right: 5%;
	}
	body#body.mobile .item-page.kontakt button.ap-btn {
	    color: #fff;
	    border: none;
	    background: #484848;
	    width: 115px;
	    margin-top: 50px;	    
	}	
	body#body.mobile.kontakt div#svgShape {
	    transform: scale(0);
	}	
	body.mobile a.homeBtn:after {
	    top: 9px;
	    right: -5px;
	    opacity: 0;
		-webkit-animation: fadein 1s forwards 4s;
		    animation: fadein 1s forwards 4s;	    
	}	
	body.mobile #svgShape {
	    position: absolute;
	}	
	body#body input.dsgvoCheckBox {
	    border-bottom: none;
	}
/*	body#body.mobile.ready:before {
		z-index: 4;
	}*/
	body#body.mobile.kontakt a.homeBtn {
	    display: none;
/*	    position: absolute;
	    bottom: 45px;
	    left: 35%;*/
	}
	body#body.mobile.kontakt .input.for_captcha {
		margin-bottom: 15px;
	}
	body#body.mobile.kontakt {
		overflow-y: scroll;
	}
	body#body.mobile .headerWrapper.subPageTransWrapper {
	    height: initial;
    	padding: 20px 0px 10px;
	}
	body#body.mobile #dsgvo_label,
	body.mobile .datenschutzHint {
	    width: 50%;
	}
	body#body.mobile .item-page.kontakt .vcard .tel a,
	body#body.mobile .item-page.kontakt .vcard p {
		margin: 0px;
	}
	body#body.mobile .item-page.kontakt .vcard .org,
	body#body.mobile .item-page.kontakt .vcard .tel a {
	    font-size: 14px;
	    line-height: 25px;
	}	
	body.mobile .item-page.kontakt .vcard {
	    right: 40%;
	    top: 40px;
	}
	body#body.mobile .item-page.kontakt {
		display: block;
	}
	body#body.tablet .item-page.kontakt .articleBody {
	    width: 100%;
	    left: 20%;
	}	
	body.tablet div#kontaktWrapper {
	    z-index: 2;
	}
	body.mobile .nav--InsideContainer__img {
	    opacity: 0.5;
	}
	body.mobile #mobileBreadcrumb a.mobVisible {
		display: inline;
	}
/*	body.mobile #mobileBreadcrumb a.mobHidden {
		display: none;
	}	*/
	body#body.mobile .subMenu__list li:nth-child(3) a.subMenu__list--link:before {
	    left: -30px;
	}
	body#body.mobile .subMenu__list li:nth-child(1) a.subMenu__list--link:before {
	    left: -40px;
	}
	body#body.mobile .subMenu__list li:nth-child(2) a.subMenu__list--link:before {
	    left: -30px;
	    width: 290px;
	}
	body#body.mobile .subMenu__list.hamOpen	a.subMenu__list--link:before {
		-webkit-transform: scaleX(1);
	        -ms-transform: scaleX(1);
	            transform: scaleX(1);       
	}
	body#body.mobile a.subMenu__list a.subMenu__list--link:before {
		-webkit-transform: scaleX(0);
	        -ms-transform: scaleX(0);
	            transform: scaleX(0);
        transition: transform 0.5s ease-in-out 4s;
	}
/*	body#body.mobile a.subMenu__list--link:before {
	    border-radius: 3px;
		background: #f4efa6;
	    background: -moz-linear-gradient(left,#1d1d1d 0%,rgba(244, 239, 166, 0.55) 13%,rgba(131, 94, 160, 0.7) 44%,rgba(94, 114, 229, 0.63) 91%,#1d1d1d 100%);
	    background: -webkit-linear-gradient(left, #1d1d1d 0%,rgba(244, 239, 166, 0.55) 13%,rgba(131, 94, 160, 0.7) 44%,rgba(94, 114, 229, 0.63) 91%,#1d1d1d 100%);
	    background: linear-gradient(to right, #1d1d1d 0%,rgba(244, 239, 166, 0.55) 13%,rgba(131, 94, 160, 0.7) 44%,rgba(94, 114, 229, 0.63) 91%,#1d1d1d 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4efa6', endColorstr='#5e72e5',GradientType=1 );
	}*/	
	body.mobile ul.subMenu__list .subMenu__list--link {
	    font-size: 2em;
	}
	body.mobile a.subMenu__list--link span {
	    color: #b9b9b9;
	    font-size: 12px;
	    opacity: 1;
	    text-shadow: 2px 2px 11px #000;
	}	
	body#body.mobile.btnStart button#menu-toggle.openAnimation .line,
	body#body.mobile.design button#menu-toggle.openAnimation .line,
	body#body.mobile.performance button#menu-toggle.openAnimation .line,
	body#body.mobile.konzeption button#menu-toggle.openAnimation .line {
	    background: #fff;
	      transition: background .5s linear .5s;
	}	
	body.mobile nav#mobileBreadcrumb span {
	    font-size: 8px;
	    padding: 0px 1px;
	}
	body.mobile.tablet nav#mobileBreadcrumb span {
	    font-size: 11px;
	    padding: 0px 2px;
	}		
	body.mobile nav#mobileBreadcrumb a.active {
	    background: #484848;
	    color: #fff;
	    border-radius: 2px;
	    padding: 2px;
	}
	body.mobile nav#mobileBreadcrumb a {
	    text-decoration: none;
	    color: #484848;
	    padding: 0px 3px 0px 3px;
	    font-size: 12px;
	}
	body.mobile.tablet nav#mobileBreadcrumb a {
	    font-size: 14px;
	}	
	body.mobile .mobileBreadCrumb--container {
	    position: absolute;
	    top: 50px;
	}	
	body.mobile .item-page {
		position: relative;
	}
	body.start .mobileBreadCrumb--container,
	body.back .mobileBreadCrumb--container {
	    display: none;
	}	
	body.mobile a.homeBtn {
	    display: none;
	}
	body.mobile .item-page.entwicklung a.homeBtn {
	    display: block;
	    width: 30px;
	}	
	body.mobile .headerWrapper {
		transition: all 0.3s ease;
	}
	body.mobile .item-page.konzeption .headerWrapper {
		padding: 30px 0px;
	}
	body.mobile .item-page.performance .headerWrapper,
	body.mobile .item-page.konzeption .headerWrapper {
	    animation:fadein .5s ease-in-out;
	      -webkit-animation:fadein .5s ease-in-out; 
	}
	body.mobile .item-page.design .headerWrapper {
	    animation:fadein 1s ease-in-out;
	      -webkit-animation:fadein 1s ease-in-out; 
	}
	body#body.mobile .mobileBreadCrumb--container {
		opacity: 0;
	    animation:fadein 2s ease-in-out 2s forwards;
	      -webkit-animation:fadein 2s ease-in-out 2s forwards; 
	}	
	body#body.mobile.tablet h1.headerProgress {
	    font-size: calc(32px + (62 - 32) * ((100vw - 320px) / (1920 - 320)));
	   	line-height: 35px !important;
	}
	body#body.mobile.start .aniMobDot--container,
	body#body.mobile.back .aniMobDot--container {
	    top: 90px;
	    left: 70px;
	}	
	body.mobile .aniMobDot--container {
	    position: absolute;
	    top: 150px;
	    left: 30px;
	}
	body.mobile .specialChar .aniMobDot {
	    fill: #000;
	}
	body.mobile .start .aniMobDot {
	    fill: #fff;
	}	
	body.mobile .articleBody {
		position: relative;
	}
	body.mobile h2.headerProgress__secondary {
	    margin-top: 0px;
	}	
	html {
		overflow: hidden;
		position: relative;
	}
	body#body.kontakt.phone {
	    background: transparent;
	}	
	body#body.tablet {
		background: url(/images/0911-webdesign-background-tablet.jpg) no-repeat;
		background-size: cover;
    	background-position: 0px 0px;
	}
	body#body.kontakt.tablet {
	    background: transparent;
	}
	body.mobile .headerWrapper.subPageTransWrapper:before,
	body.mobile .headerWrapper.subPageTransWrapper:after {
		content: initial;
	}
	body.mobile .headerWrapper.subPageTransWrapper {
	    border: none;
	    margin: 10px 0px 10px 0px;
	}
	h1.headerProgress.kontakt.subPageTrans:before,
	h1.headerProgress.kontakt.subPageTrans:after {
	    content: initial;
	}	
	body.mobile .headerWrapper {
	    margin-left: 30px;
	    padding: 20px 0px 30px;
	    border: 2px solid #9e9e9e;
	    position: relative;
	    border-radius: 3px;
	}
	body.mobile .headerWrapper:before,
	body.mobile .headerWrapper:after {
	    content: '';
	    width: 30px;
	    height: 30px;
	    top: 0;
	    position: absolute;
	}	
	body.mobile .headerWrapper:before {
	    background: #b7b7b7;
	    left: 0;
	}
	body.mobile .headerWrapper:after {
	    background: #e0e0e0;
	    right: 0;
	}

	/*non-critical*/
	body#body.mobile div#cookie-msg p,
	body#body.mobile a.btn-aceptar {
	    font-size: 12px !important;
	}	
	body#body.mobile div#cookie-msg {
	    bottom: 0px !important;
	    top: initial !important;
	    background: rgba(26, 43, 53, 0.7);
	}	
	body#body.mobile .search.suche.kontakt {
	    width: 85%;
	}
	body#body.mobile div.suche input#search-searchword {
	    width: 180px;
	}
	body#body.mobile div.suche h1 {
		font-size: 28px;
	}
	body#body.mobile .item-page.kontakt .vcard, div.search .vcard {
    	position: initial;
	}
	body.mobile .nav--InsideContainer.breadcrumb,
	body.mobile .nav--InsideContainer.suche {
	    background: transparent;
	}	
	body#body.tablet #wrapper .datenschutz .articleBody,
	body#body.tablet #wrapper .impressum .articleBody {
	    padding: 30px;
	    width: 90% !important;
	}	
	body#body.mobile.kontakt div#kontaktWrapper {
	    opacity: 0;
	}
}
@media(min-width: 1024px) and (max-width: 1920px) {
	/*critical*/
	body#body h1.headerProgress {
	    font-size: calc(32px + (62 - 32) * ((100vw - 320px) / (1920 - 320)));
	}	
}
@media(max-height: 1080px) and (max-width: 1920px) {
	/*critical*/
	body.desktop .item-page.specialChar .articleBody {
	    top: calc(36vh - 32 * ((100vw - 1920px) / (1920 - 1024)));
	}
}
@media(max-width: 1920px) {
	/*critical*/
/*	body.desktop .item-page.specialChar .articleBody {
	    top: calc(38vh - 32 * ((100vw - 1920px) / (1920 - 1024)));
	}*/
	body#body.desktop .item-page.specialChar p {
	    font-size: calc(12px + ( 16 - 12 ) * ((100vw - 1024px) / (1920 - 1024)));
	}	
	body#body.desktop h1.headerProgress.performance,
	body#body.desktop h1.headerProgress.konzeption {
	    font-size: calc(32px + ( 58 - 32 ) * ((100vw - 1024px) / (1920 - 1024)));
	    line-height: 90px;
	}
	body#body .item-page h2 {
	    font-size: calc(28px + (32 - 28) * ((100vw - 1024px) / (1920 - 1024)));
	}	
}
@media(min-width: 1921px) {
	/*ciritical*/
	body#body.desktop svg#svgMenuBkgr {
	    width: 100vw;
	    height: 100vh;
	}
	body#body.desktop .item-page.specialChar p {
	    font-size: 18px;
	}	
	body.desktop .item-page.specialChar .articleBody {
	    top: 37vh;
	}	
	div#svgGrid--container {
	    -webkit-transform: scale(1.5);
	        -ms-transform: scale(1.5);
	            transform: scale(1.5);
	}
	div#startHeader h2 {
		line-height: 40px;
	}	
}
@media(min-height: 1081px) {
	body.desktop .item-page.specialChar .articleBody {
	    top: 39vh;
	}
	body#body.desktop svg#svgMenuBkgr {
	    width: 100vw;
	    height: 100vh;
	}	
}

/*specials*/
@media(min-height: 700px) and (max-height: 1200px) {
/*	body#body.desktop .item-page.start {
	    top: calc(60px - 16 * ((100vh - 1080px) / ( 1080 - 700)));
	}*/
}
@media(max-height: 699px) {
	body#body.desktop div#wrapper {
		-webkit-filter: blur(10px);
		        filter: blur(10px);
		transition: filter 0.2s linear;
	}
	body.desktop #resizeAlarm {
		display: block !important;
	}	
}
@media(max-width: 1023px) {
	body#body.desktop div#wrapper {
		-webkit-filter: blur(10px);
		        filter: blur(10px);
		transition: filter 0.2s linear;
	}
	body.desktop #resizeAlarm {
		display: block;
	}	
}
@media(min-width: 1024px) {
	body.desktop #resizeAlarm {
		display: none;
	}
}