/*browser-styles*/
body.desktop.Safari .menueTitle {
  display: none;
}
body.desktop.Safari a.rippleBtn,
body.desktop.Safari a.homeBtn,
body.desktop.Safari button.rippleBtn {
  -webkit-filter: initial;
  	filter: initial;
}

/*critical*/
html {
}
body {
    width: 100%;
    height: auto;
    overflow: hidden;
}
a {
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
a:focus {
    outline: 0;
    outline: none;
}
:root {
    --prim-color: #484848;
}
/*Fonts*/
@font-face {
    font-family: 'rubikblack';
    font-display: auto;
    src: url('/templates/0911-clivetemplate/fonts/rubik-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rubikregular';
    font-display: auto;
    src: url('/templates/0911-clivetemplate/fonts/rubik-regular-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'rubikLight';
    font-display: auto;
    src: url('/templates/0911-clivetemplate/fonts/Rubik-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*<- Fonts End*/
h1, h2, h3, h4, p {
    font-family: 'rubikLight';
}
body#body p, 
body#body a {
    font-family: 'rubikLight';
}
body.back {
    position: relative;
    animation:fadein .5s ease-in-out ;
      -webkit-animation:fadein .5s ease-in-out; 
}
    @-webkit-keyframes fadein 
    { from {opacity:0} to {opacity:1} }
    @keyframes fadein 
    { from {opacity:0} to {opacity:1} }

body svg,
body #contentMain {
    visibility: hidden;
}
body.ready svg,
body.ready #contentMain {
    visibility: visible;
}
body.ready:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 5;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
}
body.phone.ready:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 5;
    -webkit-transform: translateX(100%) scaleX(0);
        -ms-transform: translateX(100%) scaleX(0);
            transform: translateX(100%) scaleX(0);
}
/* preloader */
body#body.start.ready #preLoader,
body#body.back.ready #preLoader,
#preLoader {
    opacity: 0;
}
.preLoader--char {
    float: left;  
}
body#body.start #preLoader.preLoadDone, 
body#body.back #preLoader.preLoadDone {
    opacity: 0;
}
#preLoader {
    position: absolute;
    height: 100vh;
    top: 40%;
    width: 100vw;
}
body#body.start #preLoader, 
body#body.back #preLoader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.preLoader {
    text-align: center;
    font-size: 42px;
    color: #fff;
}
@-webkit-keyframes preLoadAni {
  0%{ opacity: 0;}
  100%{ opacity: 1;}
}
@keyframes preLoadAni {
  0%{ opacity: 0;}
  100%{ opacity: 1;}
}
.preLoader--char {
    font-family: 'rubikLight';  
    position: relative;
    -webkit-animation: preLoadAni 0.2s;
            animation: preLoadAni 0.2s;
    -webkit-animation-iteration-count: 10;
            animation-iteration-count: 10;
    width: 100px;
    display: block;
    filter: url(#displacementFilter);
      -webkit-filter: url(#displacementFilter);
    -webkit-animation: noise 0.5s linear 0s infinite;
            animation: noise 0.5s linear 0s infinite;
}
.preLoader--char:nth-child(1) {
    -webkit-animation-delay: 0.05s;
            animation-delay: 0.05s;
}
.preLoader--char:nth-child(2) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;  
}
.preLoader--char:nth-child(3) {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
}
.preLoader--char:nth-child(4) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}
  .preLoader--char:nth-child(1):after {
      content: attr(title);
      top: 0px;
      right: 10px;
      position: absolute;
      -webkit-animation: noise-1 0.5s infinite;
              animation: noise-1 0.5s infinite;
  }
  .preLoader--char:nth-child(1):before {
      content: attr(title);
      position: absolute;
      top: 0px;
      right: 20px;      
      -webkit-animation: noise-2 0.5s infinite;      
              animation: noise-2 0.5s infinite;
  } 
  .preLoader--char:nth-child(2):after {
      content: attr(title);
      top: 0px;
      right: 10px;
      position: absolute;
      -webkit-animation: noise-1 0.5s 0.2s infinite;
              animation: noise-1 0.5s 0.2s infinite;
  }
  .preLoader--char:nth-child(2):before {
      content: attr(title);
      position: absolute;
      top: 0px;
      right: 20px;      
      -webkit-animation: noise-2 0.5s 0.2s infinite;      
              animation: noise-2 0.5s 0.2s infinite;
  }
  .preLoader--char:nth-child(3):after {
      content: attr(title);
      top: 0px;
      right: 10px;
      position: absolute;
      -webkit-animation: noise-1 0.5s infinite;
              animation: noise-1 0.5s infinite;
  }
  .preLoader--char:nth-child(3):before {
      content: attr(title);
      position: absolute;
      top: 0px;
      right: 20px;      
      -webkit-animation: noise-2 0.5s infinite;      
              animation: noise-2 0.5s infinite;
  }       
  .preLoader--char:nth-child(4):after {
      content: attr(title);
      top: 0px;
      right: 10px;
      position: absolute;
      -webkit-animation: noise-1 0.5s 0.1s infinite;
              animation: noise-1 0.5s 0.1s infinite;
  }
  .preLoader--char:nth-child(4):before {
      content: attr(title);
      position: absolute;
      top: 0px;
      right: 20px;      
      -webkit-animation: noise-2 0.5s 0.1s infinite;      
              animation: noise-2 0.5s 0.1s infinite;
  }   
/*<---- END PreLoader*/

/*content*/
div#branding a {
    text-decoration: none;
    color: #484848;
    font-size: 18px;
    text-shadow: rgba(72, 72, 72, 0.2) 7px 7px 16px;
    opacity: 0;
    -webkit-animation: fadein 2s forwards 5s;
            animation: fadein 2s forwards 5s;
}
body.start div#branding,
body.back div#branding,
body.kontakt div#branding {
    display: none;
}
div#branding {
    position: absolute;
    top: 9%;
    right: 11%;
    z-index: 1;
}
a.rippleBtn,
a.homeBtn,
button.rippleBtn {
    -webkit-font-smoothing: antialiased;
    -webkit-filter: url("#filter-ripple-1");
    filter: url("#filter-ripple-1");
    background: transparent;
}
.svg-filters {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
}
body.back p.startBtn--wrapper {
    opacity: 1;
}
p.startBtn--wrapper {
    opacity: 0;
    position: relative;
    top: 20px;    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
a.nextBtn {
    font-size: 18px;
    text-decoration: none;
    padding: 10px 45px;
    color: #484848;
    border: 1px solid #484848;
    position: relative;
    overflow: hidden;    
    transition: all 0.2s ease-in-out;
}
body.Firefox .nextBtn.rippleBtn::after { /*wg FireFox - weil Filter property des buttons die bottom border abschneidet:*/
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    background: #484848;
    left: 0;
}
body.desktop a.nextBtn:hover {
    background: rgba(72, 72, 72, 0.5);
    color: #fff;
    text-shadow: 0px 10px 20px #000;
}
a.startBtn,
a.homeBtn,
button.rippleBtn {
    font-size: 18px;
    text-decoration: none;
    padding: 10px 45px;
    border-radius: 2px;
}
a.startBtn{
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    overflow: hidden;
    text-shadow: 0px 10px 20px #000;
}
.item-page.start a.startBtn.rippleBtn:after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    top: -100px;
    left: -50px;
    z-index: -1;
    border-radius: 50%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.item-page.start a.startBtn.rippleBtn:after {
    background: rgba(255,255,255, 0.4);
}
body.desktop .item-page.start a.startBtn.rippleBtn:hover:after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
body.desktop a.startBtn.rippleBtn:hover {
    border-color: #484848;
}
a.homeBtn {
    color: #484848;
    position: relative;
    margin-right: 10px;
}
a.homeBtn:after {
    content: 'home';
    position: absolute;
    top: 7px;
    right: 0px;
}
body.desktop a.homeBtn:after {
    opacity: 0;
    -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
body.desktop a.homeBtn:hover:after {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
}
button.rippleBtn {
    color: #484848;
    border: 1px solid #484848;
}
.headerWrapper,
.contentWrapper {
    overflow: hidden;
}
body.desktop .headerWrapper {
    flex-basis: 45%;
}
body.desktop .contentWrapper {
    flex-basis: 55%;
}
.item-page h1, 
.item-page h2,
div.suche h1 {
    color: var(--prim-color);
    text-shadow: rgba(72, 72, 72, 0.2) 7px 7px 16px;
    font-weight: normal;
}
.item-page.specialChar h2 {
    font-size: 32px;
    margin-top: 0px;
    font-style: italic;
}
.item-page.specialChar h1>div {
    opacity: 0;
}
.item-page.specialChar p {
    /*font-size: 18px;*/
    line-height: 25px;
}
h1.headerProgress {
    font-size: 62px;
    position: relative;
}
/*body.desktop .headerWrapper {
    margin-right: calc(200px + 256 * ((100vw - 1920px)/ 1920));
}*/
/*body#body .item-page .articleBody {
    background: rgba(255,255,255, 0);
}*/
body#body:not(.start) .item-page .articleBody {
    /*background: rgba(255,255,255, 0.5);*/
    -webkit-animation: backAlpha 0.5s linear forwards 2s;
            animation: backAlpha 0.5s linear forwards 2s;
}
body#body.back .item-page .articleBody {
    -webkit-animation: none;
    animation: none;
}
  @-webkit-keyframes backAlpha {
      from { background: rgba(255,255,255, 0); }
      to { background: rgba(255,255,255, 0.5); }
  }
  @keyframes backAlpha {
      from { background: rgba(255,255,255, 0); }
      to { background: rgba(255,255,255, 0.5); }
  }
body.desktop .item-page.specialChar .articleBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100vw - 48%);
/*    -ms-flex-pack: distribute;
        justify-content: space-around;*/
    position: absolute;
    /*top: 36vh;*/
    left: 27.5vw;
    margin-bottom: 30px;
    z-index: 2;
}
body.desktop .item-page.start .articleBody #startHeader {
    padding-right: 100px;
}
.item-page.start .articleBody {
    position: relative;
    z-index: 2;
/*    position: absolute;
    top: 55%;
    left: 47%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);*/
}
.specialChar h1.headerProgress:before {
    content: "</";
    position: relative;
}
.specialChar h1.headerProgress:after {
    content: ">";
    position: relative;
}
#startHeader {
/*    -webkit-perspective: 500px;
            perspective: 500px;*/
}
body.back div#startHeader h1,
body.back div#startHeader h2 {
    opacity: 1;
}
body.back div#startHeader h1 {
    text-shadow: rgba(255, 255, 255, 0.2) -20px 0px 2px;
}
div#startHeader h1 {
    opacity: 0;
    font-size: calc(21px + (72 - 21 ) * ((100vw - 320px) / (1920 - 320)));
    letter-spacing: 2px;
    font-weight: 100;
    margin: 0;
}
body.desktop div#startHeader h2 {
    line-height: 30px;  
}
div#startHeader h2 {
    opacity: 0;
    -webkit-transform: translateX(59%);
        -ms-transform: translateX(59%);
            transform: translateX(59%);
    line-height: 30px;
    font-size: calc(18px + (32 - 18 ) * ((100vw - 320px) / (1920 - 320)));
    background: rgba(255,255,255, 0.3);
    padding: 5px 15px;
    border-radius: 2px;
}
body#body.desktop {
    background: url(/images/0911-webdesign-background.jpg) left top no-repeat;
    background-size: cover;
    background-position: 0vw 0vh;
}    
body#body {    
    overflow: hidden;
    height: 100vh;
    position: relative;
}
@media(max-height: 880px) {
    body#body.desktop.site {
        overflow: scroll;
    }
}
div#wrapper,
.item-page.start  {
    position: relative;
}
body.desktop div#wrapper {
    will-change: filter;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transition: .3s ease-in-out .9s;
    -o-transition: .3s ease-in-out .9s;
    transition: .3s ease-in-out .9s;
}
/*body.start div#wrapper.blur,
body.back div#wrapper.blur {
    -webkit-filter: blur(7px) invert(0) contrast(550);
            filter: blur(7px) invert(0) contrast(550); 
}*/
body.desktop div#wrapper.blur {
    will-change: filter;  
/*    -webkit-filter: blur(7px) invert(1) contrast(550);
            filter: blur(7px) invert(1) contrast(550); */
   -webkit-filter: blur(7px) contrast(550);
            filter: blur(7px) contrast(550);             
    -webkit-transition: .3s ease-in-out 2.5s;   
    -o-transition: .3s ease-in-out 2.5s;   
    transition: .3s ease-in-out 2.5s;
}
body.start.desktop div#wrapper.blur,
body.back.desktop div#wrapper.blur {
    will-change: filter;  
/*    -webkit-filter: blur(7px) invert(1) contrast(550);
            filter: blur(7px) invert(1) contrast(550); */
   -webkit-filter: blur(7px);
            filter: blur(7px);
}
body.desktop .item-page.start {
    position: relative;
    top: 60px;
  
}
.item-page.start,
.item-page  {
    width: 100vw;
    height: 100vh;
}
.item-page.start,
.item-page {
/*    position: relative;
    z-index: 1;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
main#contentMain {
    position: absolute;
    top: 0;
    left: 0;
}
.item-page.start h1,
.item-page.start h2 {
    color: #fff;
}
body#body a.btn-aceptar {
    background: #fff !important;
    color: #484848 !important;
}
div#cookie-msg {
    opacity: 0;
    z-index: 4;
    -webkit-transition: opacity 0.5s linear 3s;
    -o-transition: opacity 0.5s linear 3s;
    transition: opacity 0.5s linear 3s;
}
body.ready div#cookie-msg {
    opacity: 1;
}
body#body.desktop div#cookie-msg {
    top: initial !important;
    bottom: 80px;
    left: 30px;
    width: 320px !important;
    padding: 30px 20px !important;
    font-size: 16px !important;
    border-radius: 10px;
}
body.desktop div#cookie-msg:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 27%;
    width: 0;
    height: 0;
    border: 49px solid transparent;
    border-top-color: rgba(26, 43, 53, 0.7);
    border-bottom: 0;
    border-left: 0;
    margin-left: -24.5px;
    margin-bottom: -49px;
}

/*suche*/

body#body.suche main#contentMain {
    background: #fff;
    width: 100vw;
    height: 100vh;
}
.search.suche.kontakt {
    font-family: 'rubikLight';
    width: 80%;
    margin: 50px auto;
    padding: 20px;
}
body#body.kontakt .navDotWrapper {  /*cg: gilt für kontakt, sucheergebnisse, impressum und Datenschutz! 01092019: und crasht die Seite im FF!! -> deswegen opacity0 statt displayNone!; */
    opacity: 0;
}
span.highlight {
    font-weight: bold; 
    color: #fff;
    padding: 1px 2px;
    border-radius: 2px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(41, 41, 41, 0.7)),to(rgba(41,98,255,0.8)));
    background: -o-linear-gradient(left, rgba(41, 41, 41, 0.7) 0%,rgba(41,98,255,0.8) 100%);
    background: linear-gradient(to right, rgba(41, 41, 41, 0.7) 0%,rgba(41,98,255,0.8) 100%);    
}
body.suche dt.result-title a {
    font-size: 18px;
    color: #484848;
}
body.suche dd.result-text {
    margin-bottom: 30px;
}
input#search-searchword {
    margin: 20px 0px;
    height: 30px;
    border-radius: 3px;
    border-style: solid;
    border-color: #484848;
}
.btn-group button {
    margin: 0px 0px 30px;
}
div.tooltip-inner {
    display: none;
}
.searchintro {
    margin-bottom: 30px;
    color: #484848;
}
span.badge.badge-info {
    font-size: 18px;
    color: #2962ff;
}
input#search-searchword::selection {
    background: yellow;
}
input#search-searchword::-moz-selection {
    background: yellow;
}
img.subPage-logo {
    width: 90px;
    opacity: 0.5;
}
img.subPage-logo.ownMargin {    
    opacity: 0;
    transition: opacity 1s ease 3s;
}
body.ready img.subPage-logo.ownMargin {
    opacity: 0.4;
}
body.desktop img.subPage-logo {
    width: 80px;
}
body.desktop img.subPage-logo.ownMargin {
    margin: 10px 0px 0px 50px;
}
/*<--- END suche*/

/*<--- End content */

    /*sections*/   

    /*<--END sections*/
  

/*Menus*/


/*<-- END Menu*/


/*button offerMore*/
#offerMore {
    position: relative;
    top: calc(100vh - 53vh);
    z-index: 3;
    cursor: pointer;
    background: transparent;
    color: #fff;
    border: 3px solid #fff;
    font-size: 14px;
    padding: 15px 50px;
    margin: 20px 30px;
    opacity: 0;
    font-size: 16px;
    -webkit-transition: 
        background 0.4s;
    -o-transition: 
        background 0.4s;
    transition: 
        background 0.4s;
}
#offerMore:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: -1;
  -webkit-transition: 
    all .35s ease-out;
  -o-transition: 
    all .35s ease-out;
  transition: 
    all .35s ease-out;
}
body.desktop #offerMore:hover { color: #444; }
body.desktop #offerMore:hover:after {
  height: 100%;
}
textarea, input, button { outline: none; }
#offerMore {
  -webkit-font-smoothing: antialiased;
  -webkit-filter: url("#filter-ripple-1");
  filter: url("#filter-ripple-1");
}
.svg-filters {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
}

/*<- END button offerMore ->*/

    /*polygonBckgr*/
div#polygonBckgr {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
body#body.ready div#polygonBckgr {
    visibility: visible;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    width: 100vw;  
    height: 100vh;
    text-align: center;
    /*background-image: linear-gradient(45deg, #5671bd 35%, #dcdcdc 95%);*/
    /*background-image: linear-gradient(45deg, #b2b9ce 35%, #dcdcdc 95%);*/
    /*background-image:  linear-gradient(45deg, #aebadc 35%, #dcdcdc 95%);*/
    /*background-image: linear-gradient(45deg, rgba(204, 210, 228, 0.9) 35%, rgba(220, 220, 220, 0.3) 95%);*/
    background-image: linear-gradient(45deg, rgba(183, 191, 214, 0.8) 35%, rgba(220, 220, 220, 0.3) 95%);
    background-position: top, center;
    background-repeat: no-repeat, no-repeat;
    cursor: default;
}
    /*<--- END polygonBckgr*/

/*nav dot menue*/

g#nav-dots-inner-kreis ellipse {
    cursor: pointer;
}
p.menueTitle {
    color: #fff;
    position: absolute;
    top: -3px;
    transition: all 1s linear 1s;
}
.navDotWrapper.not_home p.menueTitle {
    color: #484848;
    background: #c4c6ce;
    padding: 0 10px 0 5px;
}
.navDotWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
a.ellipseLink {
    color: rgba(255,255,255,0);
    font-size: 21px;
    padding: 0px 10px 10px;
    text-decoration: none;
    display: none;
    /*opacity: 0;*/
    position: relative;
    overflow: initial;
    z-index: 1;
    transition: all .3s ease-in-out;  
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
}
.dotLinkActive.ellipseLink--home:after,
.dotLinkActive.ellipseLink--home:before {
  content: 'home'; /*CG: normalerweise content: attr(title)-> funktioniert aber offenbahr nich wenn innerhalb foreignobject*/
}
.dotLinkActive.ellipseLink--design:after,
.dotLinkActive.ellipseLink--design:before {
  content: 'design'; 
}
.dotLinkActive.ellipseLink--performance:after,
.dotLinkActive.ellipseLink--performance:before {
  content: 'performance'; 
}
.dotLinkActive.ellipseLink--konzeption:after,
.dotLinkActive.ellipseLink--konzeption:before {
  content: 'konzeption'; 
}
.dotLinkActive.ellipseLink--entwicklung:after,
.dotLinkActive.ellipseLink--entwicklung:before {
  content: 'entwicklung'; 
}
.ellipseLink:after {
  position: absolute;
  width: 100%;
  height: 100%;  
  left: 0;
  top: 8px;
  opacity: 0; /*CG: bei Pseudeo Elementen hier die Aushame mit opacity innerhalb foreignobject*/
  color: rgba(0,128,0, 0);
  z-index: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.ellipseLink:before,
.ellipseLink:after {
    padding-left: 10px;
}
.ellipseLink:before {
  position: absolute;
  width: 100%;
  height: 100%;    
  left: 0;
  top: -8px;
  opacity: 0;
  color: rgba(255,0,0, 0);
  z-index: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/*.ellipseLink.dotLinkActive,
.ellipseLink.dotLinkActive:hover{
}*/
.ellipseLink.dotLinkActive,
body.desktop .ellipseLink:hover,
body.desktop .ellipseLink.dotLinkActive:hover {
    display: block;
    /*opacity: 1;*/
    color: rgba(255,255,255,1);
  -webkit-animation: noise 3s linear infinite;
          animation: noise 3s linear infinite;
  -webkit-filter: url(#displacementFilter);
          filter: url(#displacementFilter);
}
.ellipseLink.dotLinkActive:after,
body.desktop .ellipseLink:hover:after,
body.desktop .ellipseLink.dotLinkActive:hover:after,
.ellipseLink:after {
  -webkit-animation: noise-1 1s linear infinite .1s;
          animation: noise-1 1s linear infinite .1s;
          opacity: 1;
}
.ellipseLink.dotLinkActive:before,
body.desktop .ellipseLink:hover:before,
body.desktop .ellipseLink.dotLinkActive:hover:before,
.ellipseLink:before {
  -webkit-animation: noise-2 1s linear infinite .2s;
          animation: noise-2 1s linear infinite .2s;
          opacity: 1;
}
#svgFilter {
    position:relative;
    z-index: 1;
}
@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {color: rgba(0,128,0, 0);}
  10% {color: rgba(0,128,0, 0.1 );}
  50% {color: rgba(0,128,0,0.5 ); left: -6px;}
  80% {color: rgba(0,128,0, 0.3);}
  100% {color: rgba(0,128,0, 0.6); left: 2px;}
}
@keyframes noise-1beyondStart {
  0%, 20%, 40%, 60%, 70%, 90% {color: rgba(0,0,255, 0);}
  10% {color: rgba(0,0,255, 0.1 );}
  50% {color: rgba(0,0,255,0.4 ); left: -6px;}
  80% {color: rgba(0,0,255, 0.3);}
  100% {color: rgba(0,0,255, 0.5); left: 2px;}
}
@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {color: rgba(255,255,255, 0);}
  10% {color: rgba(255,0,0, 0.1);}
  50% {color: rgba(255,0,0,, 0.5); left: 6px;}
  80% {color: rgba(255,0,0, 0.3);}
  100% {color: rgba(255,0,0, 0.6); left: -2px;}
}
@keyframes noise {
  0%, 3%, 5%, 42%, 46%, 44%, 100% {color: rgba(255,255,255, 1 ); }  
  4.3% {color: rgba(255,255,255, 1); }
  43% {color: rgba(255,255,255, 1); }
  45% {color: rgba(255,255,255, 0.2);}
  79% {color: rgba(255,255,255, 0.9);}
  80% {color: rgba(255,255,255, 0.2);}
  82% {color: rgba(255,255,255, 0.8);}
  84% {color: rgba(255,255,255, 0.4);}
}
@keyframes noiseBeyondStart {
  0%, 3%, 5%, 42%, 46%, 44%, 100% {color: rgba(72,72,72, 1 ); }  
  4.3% {color: rgba(72,72,72, 1); }
  43% {color: rgba(72,72,72, 1); }
  45% {color: rgba(72,72,72, 0.2);}
  79% {color: rgba(72,72,72, 0.9);}
  80% {color: rgba(72,72,72, 0.2);}
  82% {color: rgba(72,72,72, 0.8);}
  84% {color: rgba(72,72,72, 0.4);}
}
.st-line {
    visibility: hidden;
    stroke: #fff;
}
.ellipseLinkParent {
    stroke-width: 10px;
    -webkit-transition: all .15s cubic-bezier(.52,1.17,.58,1.53);
    -o-transition: all .15s cubic-bezier(.52,1.17,.58,1.53);
    transition: all .15s cubic-bezier(.52,1.17,.58,1.53);
    z-index: 999;
}
body.desktop .ellipseLinkParent:hover {
    stroke-width: 25px;
}
g[id^="cross-small"] {
    z-index: -1;
}
body.desktop .ellipseLinkParent:hover g[id^="cross-small"] {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}
body.desktop .navDotWrapper.not_home .ellipseLink.dotLinkActive,
body.desktop .navDotWrapper.not_home .ellipseLink:hover,
body.desktop .navDotWrapper.not_home .ellipseLink.dotLinkActive:hover {
    color: rgba(72,72,72, 1);
  -webkit-animation: noiseBeyondStart 3s linear infinite;
          animation: noiseBeyondStart 3s linear infinite;    
}
.navDotWrapper.not_home .ellipseLink:after {
    top: 3px;
  -webkit-animation: noise-1beyondStart 2s linear infinite .1s;
          animation: noise-1beyondStart 2s linear infinite .1s;    
}

.navDotWrapper.not_home .ellipseLink:before {
    top: -3px;
    opacity: 0.6;
}
.navDotWrapper.not_home .st-line {
    stroke: #d3d3d3;
}
/*<---- END nav dot menue*/

  /*Menu / hamburger*/
/*body#body a.subMenu__list--link:before {
    background: #333;
    border-radius: 3px;
}
body#body .subMenu__list li:nth-child(1) a.subMenu__list--link:before {
    width: 250px;
}
body#body .subMenu__list li:nth-child(2) a.subMenu__list--link:before {
    width: 350px;
}
body#body .subMenu__list li:nth-child(3) a.subMenu__list--link:before {
    width: 140px;   
}
body#body.desktop .subMenu__list li a.subMenu__list--link:hover:before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}
a.subMenu__list--link:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 20px;
    top: 20px;
    left: -10px;
    z-index: -1;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: top 0.5s ease-out 0.2s,
                -webkit-transform .3s ease-in;
    transition: top 0.5s ease-out 0.2s,
                -webkit-transform .3s ease-in;
    -o-transition: transform .3s ease-in,
                top 0.5s ease-out 0.2s;
    transition: transform .3s ease-in,
                top 0.5s ease-out 0.2s;
    transition: transform .3s ease-in,
                top 0.5s ease-out 0.2s,
                -webkit-transform .3s ease-in;
}
ul.subMenu__list li {
    text-align: center;
}
body.desktop a.subMenu__list--link:hover span {
    top: -10px;
    opacity: 1;
}
a.subMenu__list--link span {
    color: #333;
    font-size: 14px;
    font-style: italic;
    text-transform: none;
    position: relative;
    top: -20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
ul.subMenu__list.hamOpen li a {
    position: relative;
}
ul.subMenu__list li {
    overflow: hidden;
    margin: 10px 0px;
    opacity: 0;
    transform: translateY(200px);
}*/

/*nav-sub alt social logos*/


a.subMenu__list--link img {
    position: relative;
    width: 60px;
    top: 21px;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out 0.2s;
}
.subMenu__list li:nth-of-type(2) a.subMenu__list--link img {
    top: 11px;
} 
body.desktop a.subMenu__list--link:hover img {
    opacity: 1;
}
ul.subMenu__list li {
    position: relative;
}


/*<---- END nav-sub alt social logos*/

nav#subMenu {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background: url(/images/0911-webdesign-background.jpg) left top no-repeat;
    background-size: cover;    
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
}
nav#subMenu.hamOpen {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
nav#subMenu a,
nav#subMenu p {
    /*font-family: 'Rubik', sans-serif;*/
    color: #fff;
    text-decoration: none;
}
.nav--InsideContainer {
    position: relative;
/*    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);*/
}
.nav--InsideContainer:not(.kontakt) {
    text-align: center;
}
.nav--InsideContainer__left .nav--InsideContainer {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    -webkit-box-align: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.nav--InsideContainer.breadcrumb ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.nav--InsideContainer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.nav--InsideContainer__split,
.nav--InsideContainer.breadcrumb,
.nav--InsideContainer.blog,
.nav--InsideContainer.kontakt,
.nav--InsideContainer.suche{
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.nav--InsideContainer.breadcrumb,
.nav--InsideContainer.suche {
    background: rgba(21, 21, 21, 0.5);
}
ul.subMenu-BreadCrumb li,
ul.subMenu__list li {
    padding-bottom: 20px;
}
ul.subMenu-BreadCrumb li,
nav#subMenu .vcard {
    font-size: 14px;
}
ul.subMenu-BreadCrumb a {
    background: transparent;
    padding: 2px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
body.desktop ul.subMenu-BreadCrumb a:hover,
nav#subMenu .breadcrumb a.active {
    color: #1d1d1d !important;
}
nav#subMenu .breadcrumb a.active,
body.desktop ul.subMenu-BreadCrumb a:hover {
    background: #fff;
}
.nav--InsideContainer__img {
    background: url('/images/0911-webdesign-blog-menue-bckgr.jpg')  center no-repeat;
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-filter: contrast(2);
            filter: contrast(2);
    -webkit-transition: all 0.8s cubic-bezier(0.2,1,0.8,1);
    -o-transition: all 0.8s cubic-bezier(0.2,1,0.8,1);
    transition: all 0.8s cubic-bezier(0.2,1,0.8,1);
}
body.desktop .nav--InsideContainer.blog:hover .nav--InsideContainer__img {
    opacity: 1;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.nav--InsideContainer.blog {
    position: relative;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.nav--InsideContainer.blog:after {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(41, 98, 255, 0.2);
    z-index: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.2,1,0.8,1);
    -o-transition: all 0.8s cubic-bezier(0.2,1,0.8,1);
    transition: all 0.8s cubic-bezier(0.2,1,0.8,1);
}
body.desktop .nav--InsideContainer.blog:hover:after {
    background: rgba(41, 98, 255, 0.5);
}
.nav--InsideContainer.blog a {
    position: absolute;
    z-index: 1;
    font-size: 32px;
    overflow: hidden;
}
body.desktop .nav--InsideContainer.blog a span {
    position: relative;
    display: block;
    z-index: 1;
    font-size: 14px;
    padding: 20px 0px;
    font-style: italic;
    opacity: 0;
    -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-transition: all 0.8s cubic-bezier(0.2,1,0.8,1);
    -o-transition: all 0.8s cubic-bezier(0.2,1,0.8,1);
    transition: all 0.8s cubic-bezier(0.2,1,0.8,1);
    text-shadow: 2px 1px 0px #000;
}
body.desktop .nav--InsideContainer.blog:hover a span{
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
}
.nav--InsideContainer.kontakt {
    background: url('/images/0911-webdesign-logo.png') no-repeat center;
    background-size: cover;
}
p.fn,
p.adr {
    display: none;
}
nav#subMenu .vcard p.org {
    font-size: 18px;
    color: #8c8c8c;
}
nav#subMenu .vcard p.tel a {
    color: #6b6b6b;
}
nav#subMenu .vcard a.email {
    color: #505050;
}
.nav--InsideContainer.suche input {
    border: none;
    border-radius: 3px;
}
ul.subMenu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.nav--InsideContainer.secondMenu ul li {
    margin-bottom: 50px;
    list-style-type: none;
}
.nav--InsideContainer.secondMenu a {
    font-size: 42px;
    line-height: 20px;
    position: relative;
    text-transform: lowercase;
    overflow: hidden;
}
/*.nav--InsideContainer.secondMenu a span {
    font-size: 14px;
    color: #909090;
    text-transform: initial;
    font-style: italic;
}*/
.nav--InsideContainer.secondMenu a span {
    font-size: 14px;
    color: #fff;
    text-transform: initial;
    opacity: 0;
    position: absolute;
    bottom: -40px;
    left: -90px;
    width: 270px;
    transition: all 0.2s ease-in-out;    
}
.nav--InsideContainer.secondMenu a:hover span {
    opacity: 0.4;
    transition: all 0.2s ease-in-out 0.3s;
}
.nav--InsideContainer.secondMenu a:before {
    position: absolute;
    content: '';
    top: 0;
    width: 92%;
    /*height: 50px;*/
    height: 60px;
    background: #7db9e8;
    background: -webkit-linear-gradient(left, rgba(255,255,255, 0) 0%,#2989d8 50%,rgba(41, 98, 255, 0.18) 95%, rgba(255,255,255, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255, 0)),color-stop(50%, #2989d8),to(rgba(41, 98, 255, 0.18)));
    background: -o-linear-gradient(left, rgba(255,255,255, 0) 0%,#2989d8 50%,rgba(41, 98, 255, 0.18) 95%, rgba(255,255,255, 0) 100%);
    background: linear-gradient(to right, rgba(255,255,255, 0) 0%,#2989d8 50%,rgba(41, 98, 255, 0.18) 95%, rgba(255,255,255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255,255,255, 0)', endColorstr='#2962ff',GradientType=1 );
    border-radius: 3px;
    -webkit-transform: translateX(-60%) scalex(0);
        -ms-transform: translateX(-60%) scalex(0);
            transform: translateX(-60%) scalex(0);
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.8s cubic-bezier(0.2,1,0.8,1);
    -o-transition: all 0.8s cubic-bezier(0.2,1,0.8,1);
    transition: all 0.8s cubic-bezier(0.2,1,0.8,1);
}
/*.nav--InsideContainer.secondMenu li:nth-child(1) a:before {
    right: 60px;
}
.nav--InsideContainer.secondMenu li:nth-child(2) a:before {
    right: 20px;
}*/
body.desktop .nav--InsideContainer.secondMenu a:hover:before {
    -webkit-transform: translateX(0%) scalex(2);
        -ms-transform: translateX(0%) scalex(2);
            transform: translateX(0%) scalex(2);
    opacity: 1;
}
.marker {
    margin: 0px;
    font-size: 10px;
    position: absolute;
    letter-spacing: 1px;
    color: #7b7b7b !important;
}
.nav--InsideContainer.breadcrumb .marker {
    left: 0px;    
    top: 50%;
    -webkit-transform: rotateZ(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotateZ(-90deg);
}
.nav--InsideContainer.kontakt .marker {
    left: 90px;    
    top: 5%;
    -webkit-transform: rotateZ(0deg);
        -ms-transform: rotate(0deg);
            transform: rotateZ(0deg);
}
.nav--InsideContainer.kontakt .marker:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    top: 5px;
    left: -60px;
    background: #7b7b7b;
}
.nav--InsideContainer.secondMenu .marker {
    left: -10px;    
    top: 50%;
    -webkit-transform: rotateZ(90deg);
        -ms-transform: rotate(90deg);
            transform: rotateZ(90deg);
}
.nav--InsideContainer.secondMenu {
    padding: 30px 0px;
}
.nav--InsideContainer.suche .marker {
    left: 35%;    
    bottom: 5%;
    -webkit-transform: rotateZ(0deg);
        -ms-transform: rotate(0deg);
            transform: rotateZ(0deg);
}
.marker--bottom {
    bottom: 10%;
    right: -10px;
    -webkit-transform: rotateZ(90deg);
        -ms-transform: rotate(90deg);
            transform: rotateZ(90deg);
}
.nav--InsideContainer.secondMenu:before,
.nav--InsideContainer.secondMenu:after, 
.nav--InsideContainer.secondMenu>:last-child:before, 
.nav--InsideContainer.secondMenu>:last-child:after {
    position: absolute;
    width: 20px; 
    height: 20px;
    border-color: #8c8c8c; 
    border-style: solid;
    content: ' ';
}
.nav--InsideContainer.secondMenu:before {
    top: 0px;
    left: 10px;
    border-width: 1px 0 0 1px
} 
.nav--InsideContainer.secondMenu:after {
    top: 0px;
    right: 10px;
    border-width: 1px 1px 0 0
}
.nav--InsideContainer.secondMenu>:last-child:before {
    bottom: 0px;
    right: 10px;     
    border-width: 0 1px 1px 0
}
.nav--InsideContainer.secondMenu>:last-child:after {
    bottom: 0px;
    left: 10px;
    border-width: 0 0 1px 1px
}
p.down-triangle {
    display: none;
}

/*ul.subMenu__list {
    display: none;
    padding: 0px;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
    height: 50vh;
    top: 10vh;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    z-index: 4;    
}
ul.subMenu__list .subMenu__list--link {
    color: #fff;
    font-size: 3em;
    line-height: 37px;
    margin-bottom: 100px;
    text-shadow: rgba(72, 72, 72, 0.2) 7px 7px 16px;
    text-decoration: none;
    text-transform: uppercase;
}*/
/*ul.subMenu__list.hamOpen {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}*/

div#kontaktWrapper:before {
    content: '';
    width: 50px;
    height: 1px;
    position: absolute;
    background: rgba(255,255,255,0.5);
    top: 40%;
    left: -50%;
    border-radius: 1%;    
    -webkit-transform-origin: 50% 50%;    
        -ms-transform-origin: 50% 50%;    
            transform-origin: 50% 50%;    
/*    transform: rotateZ(0deg) scale(1,1) translateY(0px); */
    -webkit-transition: all 1s cubic-bezier(0.2,1,0.8,1);
    -o-transition: all 1s cubic-bezier(0.2,1,0.8,1);
    transition: all 1s cubic-bezier(0.2,1,0.8,1);
}
/*body#body.kontakt div#kontaktWrapper:before {
    background: rgba(72, 72, 72, 0.6);
}*/
body#body.kontakt div#kontaktWrapper.kontaktSelect:before,
body#body.specialChar div#kontaktWrapper.kontaktSelect:before,
body#body.btnStart div#kontaktWrapper.kontaktSelect:before,
body#body.btnStart.kontakt div#kontaktWrapper.kontaktSelect:before {
      z-index: -1;
    -webkit-animation: kontaktFrame 1s cubic-bezier(0.2,1,0.8,1) forwards;
            animation: kontaktFrame 1s cubic-bezier(0.2,1,0.8,1) forwards;
    background: #ffffff;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(204, 209, 224, 0.6) 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(99%, rgba(204, 209, 224, 0.6)));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(204, 209, 224, 0.6) 99%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(204, 209, 224, 0.6) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255, 255, 255, 0)', endColorstr='rgba(204, 209, 224, 0.6)',GradientType=0 );
    -webkit-transition: all 1s cubic-bezier(0.2,1,0.8,1);
    -o-transition: all 1s cubic-bezier(0.2,1,0.8,1);
    transition: all 1s cubic-bezier(0.2,1,0.8,1);    
}
body.start div#kontaktWrapper.kontaktSelect:before,
body.back div#kontaktWrapper.kontaktSelect:before {
  /*  transform: rotateZ(90deg) scale(2,200) translateY(-0.5px);*/
    z-index: -1;
    -webkit-animation: kontaktFrame 1s cubic-bezier(0.2,1,0.8,1) forwards;
            animation: kontaktFrame 1s cubic-bezier(0.2,1,0.8,1) forwards;
    background: #ffffff;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 30%, rgba(35, 78, 211, 0.6) 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(255, 255, 255, 0)), color-stop(99%, rgba(35, 78, 211, 0.6)));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 30%, rgba(35, 78, 211, 0.6) 99%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(35, 78, 211, 0.6) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255, 255, 255, 0)', endColorstr='rgba(35, 78, 211, 0.6)',GradientType=0 );
    -webkit-transition: all 1s cubic-bezier(0.2,1,0.8,1);
    -o-transition: all 1s cubic-bezier(0.2,1,0.8,1);
    transition: all 1s cubic-bezier(0.2,1,0.8,1);
}
  @-webkit-keyframes kontaktFrame {
      0% { -webkit-transform: rotateZ(0deg) scale(1,1) translateY(0px); transform: rotateZ(0deg) scale(1,1) translateY(0px); }
      30% { -webkit-transform: rotateZ(90deg) scale(1,1) translateY(0px); transform: rotateZ(90deg) scale(1,1) translateY(0px); }
      50% { -webkit-transform: rotateZ(90deg) scale(2,1) translateY(-0px); transform: rotateZ(90deg) scale(2,1) translateY(-0px); }      
      100% { -webkit-transform: rotateZ(90deg) scale(2,250) translateY(-0px); transform: rotateZ(90deg) scale(2,250) translateY(-0px); } 
  }
@keyframes kontaktFrame {
      0% { -webkit-transform: rotateZ(0deg) scale(1,1) translateY(0px); transform: rotateZ(0deg) scale(1,1) translateY(0px); }
      30% { -webkit-transform: rotateZ(90deg) scale(1,1) translateY(0px); transform: rotateZ(90deg) scale(1,1) translateY(0px); }
      50% { -webkit-transform: rotateZ(90deg) scale(2,1) translateY(-0px); transform: rotateZ(90deg) scale(2,1) translateY(-0px); }      
      100% { -webkit-transform: rotateZ(90deg) scale(2,250) translateY(-0px); transform: rotateZ(90deg) scale(2,250) translateY(-0px); } 
  }

div#kontaktWrapper.kontaktSelect a.link-kontaktIcons,
div#kontaktWrapper.kontaktSelect a.link-telefonIcon {
    display: block;
}
a.link-kontaktIcons,
a.link-telefonIcon {
    display: none;
    position: absolute;
    width: 50px;
    z-index: 2;
}
a.link-kontaktIcons {
    height: 30px;
    top: -5px;
    right: -5px;
}
a.link-telefonIcon {
    bottom: 5px;
    right: -5px;
    height: 40px;
}
div#kontaktWrapper {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 1;    
}
body#body:not(.Firefox).kontakt div#kontaktWrapper {
    display: none;
}
body#body.Firefox.kontakt div#kontaktWrapper {
    opacity: 0;
}
.close-kontaktIcons {
    color: rgba(255,255,255,0.7);
    font-size: 48px;
    font-weight: 100;
    position: absolute;
    z-index: 2;
    width: 60px;
    height: 50px;
    bottom: 35px;
    left: 5px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 1s ease-in-out 0.5s;   
}
body.specialChar .close-kontaktIcons,
body.btnStart .close-kontaktIcons,
body.specialChar.kontakt .close-kontaktIcons,
body.start.kontakt .close-kontaktIcons,
body.back.kontakt .close-kontaktIcons {
    color: rgba(72, 72, 72, 0.61);
}
#menuBtnWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: 5;
}
body:not(.no-svg-layout) button#menu-toggle {
    opacity: 0;
    transition: opacity 4.5s ease-in-out 1s;
}
button#menu-toggle {
    background: transparent;
    border: none;
    padding: 20px;
    position: relative;
}
body#body.ready button#menu-toggle {
    opacity: 1;
}
body#body.back .line,
.line {
    width: 45px;
    height: 2px;
    background: #fff;
    position: relative;
    border-radius: 10%;
}
body#body.btnStart button#menu-toggle .line,
body#body.design button#menu-toggle .line,
body#body.performance button#menu-toggle .line,
body#body.konzeption button#menu-toggle .line,
body#body.entwicklung button#menu-toggle .line {
    background: #484848;
}
body#body.start button#menu-toggle .line,
body#body.back button#menu-toggle .line {
    background: #fff;
      transition: background .05s linear .5s;
}
body.start button#menu-toggle.openAnimation .line,
body.back button#menu-toggle.openAnimation .line {
    background: #484848;
    transition: background .05s linear 2s ;
}
body#body.btnStart button#menu-toggle.openAnimation .line,
body#body.design button#menu-toggle.openAnimation .line,
body#body.performance button#menu-toggle.openAnimation .line,
body#body.konzeption button#menu-toggle.openAnimation .line,
body#body.entwicklung button#menu-toggle.openAnimation .line {
    background: #fff;
      transition: background .5s linear .5s;
}
body.start button#menu-toggle.openAnimation .text,
body.back button#menu-toggle.openAnimation .text {
    transition: color .05s linear 1.7s ;
}
.top.line {
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
}
.text {
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
}
.line:before,
.line:after {
    content: ' ';
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0;
    opacity: 0;
    z-index: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/*.line:before {
    top: 4px;  
    background: red;  
}
.line:after {
    top: -4px;  
    background: blue;  
}*/
.line:first-child {
    margin-top: 0px;
}
.line {
    margin-top: 7px;
}
body#body.ready .line {
    opacity: 1;
}
body#body.back .text,
.text {
    position: absolute;
    top: 21px;
    left: 20px;
    color: #fff;
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
    transform: translatex(100px) rotate(0deg);
    transition: all .1s ease-in-out;
}
body#body.kontakt .text {
    color: #484848;
}
body#body.ready.kontakt button#menu-toggle .line {
    background: #484848;
}
body.btnStart .text,
body.design .text,
body.performance .text,
body.konzeption .text,
body.entwicklung .text,
body.start button#menu-toggle.openAnimation .text,
body.back button#menu-toggle.openAnimation .text {
    color: #484848;
}
body.desktop button#menu-toggle:hover .text,
.btn-toggle.openAnimation .text {
    transform: translatex(0px);
    visibility:visible;
    opacity: 1;
    transition: all .4s ease-in-out;
    
}
.line:nth-child(2) {
    transform: scalex(1);
    transform-origin: left top;
    transition: all .3s ease-in-out;
}
.btn-toggle.openAnimation .line:nth-child(2) {
    transform: scalex(0);
}

body.desktop button#menu-toggle:hover .line:nth-child(2) {
    transform: scalex(0);
}
/*
body.desktop button#menu-toggle:hover .line:before {
  -webkit-animation: noiseHam 1s linear infinite .1s;
          animation: noiseHam 1s linear infinite .1s;
          opacity: 1;
}
body.desktop button#menu-toggle:hover .line:after {
  -webkit-animation: noiseHam-2 1s linear infinite .2s;
          animation: noiseHam-2 1s linear infinite .2s;
          opacity: 1;
}
body.desktop button#menu-toggle:hover .line,
body.desktop button#menu-toggle:hover .line:before,
body.desktop button#menu-toggle:hover .line:after,
body.desktop button#menu-toggle:hover .text {
  -webkit-filter: url(#displacementFilter);
          filter: url(#displacementFilter);
}*/
@-webkit-keyframes noiseHam {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}
@keyframes noiseHam {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}
@-webkit-keyframes noiseHam-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}
@keyframes noiseHam-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

body:not(.no-svg-layout) .line.loadAni:nth-child(1) {
  -webkit-animation: lineAni 4s cubic-bezier(0,.12,.36,1.76) 0s forwards;
          animation: lineAni 4s cubic-bezier(0,.12,.36,1.76) 0s forwards;
}
body:not(.no-svg-layout) .line.loadAni:nth-child(2) {
  -webkit-animation: lineAni 4.5s cubic-bezier(0,.12,.36,1.76) 0.3s forwards;
          animation: lineAni 4.5s cubic-bezier(0,.12,.36,1.76) 0.3s forwards;
}
body:not(.no-svg-layout) .line.loadAni:nth-child(3) {
  -webkit-animation: lineAni 5s cubic-bezier(0,.12,.36,1.76) 0.5s forwards;
          animation: lineAni 5s cubic-bezier(0,.12,.36,1.76) 0.5s forwards;
}
    body.start .line.loadAni:nth-child(1),
    body.back .line.loadAni:nth-child(1) {
      -webkit-animation-delay: 3s;
              animation-delay: 3s;
    }
    body.start .line.loadAni:nth-child(2),
    body.back .line.loadAni:nth-child(2) {
      -webkit-animation-delay: 3.3s;
              animation-delay: 3.3s;
    }
    body.start .line.loadAni:nth-child(3),
    body.back .line.loadAni:nth-child(3) {
      -webkit-animation-delay: 3.5s;
              animation-delay: 3.5s;
    }

@-webkit-keyframes lineAni {
  0%, 100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
  10% {-webkit-transform: translateY(300px);transform: translateY(300px);}
  20% {-webkit-transform: translateY(-300px);transform: translateY(-300px);}
  30% {-webkit-transform: translateY(200px);transform: translateY(200px);}
  40% {-webkit-transform: translateY(-200px);transform: translateY(-200px);}
  50% {-webkit-transform: translateY(100px);transform: translateY(100px);}
  60% {-webkit-transform: translateY(-100px);transform: translateY(-100px);}
  70% {-webkit-transform: translateY(50px);transform: translateY(50px);}
  90% {-webkit-transform: translateY(-50px);transform: translateY(-50px);}
}
@keyframes lineAni {
  0%, 100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
  10% {-webkit-transform: translateY(300px);transform: translateY(300px);}
  20% {-webkit-transform: translateY(-300px);transform: translateY(-300px);}
  30% {-webkit-transform: translateY(200px);transform: translateY(200px);}
  40% {-webkit-transform: translateY(-200px);transform: translateY(-200px);}
  50% {-webkit-transform: translateY(100px);transform: translateY(100px);}
  60% {-webkit-transform: translateY(-100px);transform: translateY(-100px);}
  70% {-webkit-transform: translateY(50px);transform: translateY(50px);}
  90% {-webkit-transform: translateY(-50px);transform: translateY(-50px);}
}

/*Such-Icon*/
.such-icon-container {
  display: table;
}
.such-icon-container input {
  background: none;
  border: none;
  outline: none;
  width: 28px;
  min-width: 0;
  padding: 0;
  z-index: 1;
  position: relative;
  line-height: 18px;
  margin: 5px 0;
  font-size: 18px;
  -webkit-appearance: none;
  transition: all .6s ease;
  cursor: pointer;
  color: #fff;
}
.such-icon-container input + div {
  position: relative;
  height: 28px;
  width: 100%;
  margin: -28px 0 0 0;
}
.such-icon-container input + div svg {
  display: block;
  position: absolute;
  height: 28px;
  width: 160px;
  right: 30px;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-dashoffset: 271.908;
  stroke-dasharray: 59 212.908;
  transform: scale(1.5);
  transition: all .6s ease;
}
.such-icon-container input:not(:placeholder-shown),
.such-icon-container input:focus {
  width: 220px;
  padding: 0 4px;
  cursor: text;
}
.such-icon-container input:not(:placeholder-shown) + div svg,
.such-icon-container input:focus + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}
::-moz-selection {
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  background: rgba(255, 255, 255, 0.2);
}
::-moz-selection {
  background: rgba(255, 255, 255, 0.2);
}

.such-icon-container ::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.such-icon-container ::-moz-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.such-icon-container :-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.such-icon-container ::-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.such-icon-container ::placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.such-icon-container input:focus::-webkit-input-placeholder {
    opacity: 1;
}
.such-icon-container input:focus::-moz-placeholder {
    opacity: 1;
}
.such-icon-container input:focus:-ms-input-placeholder {
    opacity: 1;
}
.such-icon-container input:focus::-ms-input-placeholder {
    opacity: 1;
}
.such-icon-container input:focus::placeholder {
    opacity: 1;
}
/*h3.search-menu-header {
    color: #171717;
    padding-right: 20px;
    position: absolute;
    top: -5%;
    text-shadow: 0px -2px 3px #484848, -2px 8px 3px #080808;
    font-size: 148px;
    opacity: 0.3;
    filter: blur(5px);
}*/
/*<--- END Such-Icon*/


  /*<--END Menu / hamburger*/
/*kontakt*/
input.dsgvoCheckBox {
    float: left;
}
p.datenschutzHint {
    clear: both;
    line-height: 15px;
}
body#body .item-page.kontakt .vcard .org a,
body#body .item-page.kontakt .vcard .tel a,
div.search .vcard .tel a,
div.search .vcard .org a {
    font-size: 18px;
    color: #484848;
    text-decoration: none;
    text-shadow: rgba(72, 72, 72, 0.2) 7px 7px 16px;
}
body#body .item-page.kontakt .vcard .tel a {
    text-decoration: none;
}
body#body .item-page.kontakt .vcard .fn,
body#body .item-page.kontakt .vcard .adr {
    display: none;
}
body.desktop .item-page.kontakt .vcard,
body.desktop div.search .vcard {
    margin: 10px 0px 20px 50px;
    right: 20%;
    top: 4%;
    padding: 30px;
}
.item-page.kontakt .vcard,
div.search .vcard {
    position: absolute;
    right: 20%;
    top: 10%;
    opacity: 0; 
    -webkit-animation: fadein 1s forwards 4s;
            animation: fadein 1s forwards 4s;    
}
body#body.kontakt h1.headerProgress.kontakt {
    margin-bottom: 0px;
    font-size: 53px;
}
/*div.input.input--focus label {
    top: 0;
}*/
label.msgLabel {
    bottom: 8px;
}
p.datenschutzHint.translate a {
    color: #484848;
    background: transparent;
    transition: all 0.3s ease-in-out;
}
p.datenschutzHint a:hover {
    background: #484848;
    color: #fff;
}
.item-page.kontakt {
    font-family: 'rubikLight';
}
.item-page.kontakt button.ap-btn,
div.suche button {
    background: #484848;
    color: #fff;
    padding: 10px 20px;
    margin-left: 0px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: rgba(72, 72, 72, 0.1) 7px 15px 26px -1px;
    text-shadow: none;
    transition: all 0.3s ease-in-out;
}
i.fa.fa-share {
    display: none;
}
body.desktop .item-page.kontakt button.ap-btn:hover,
body.desktop div.suche button:hover {
    color: #484848;
    border-color: #000;
    background: transparent;
}
.item-page.kontakt .error {
    position: absolute;
    bottom: -30px;
    color: #881515;
}
.input input,
.input textarea {
    border-width: 0 0 3px 0px;
    border-color: #484848;
    box-shadow: none !important;
    /*transition: all 0.3s ease-in-out;*/
}
.input textarea {
    resize: none;
}
/*div.input.input--focus input,
div.input.input--focus textarea {
    border-color: #2962ff;
}*/
/*body.desktop .input.dsgvo_check.translate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#ap_ajax_qc_87 #dsgvo_label {
  margin-top: 0px;
}*/
.input {
    position: relative;
    margin-bottom: 50px;
}
textarea#message,
input#email,
input#name,
input#captcha {
    background: transparent;
    transition: all 0.3s ease-in-out 0.2s;
    border-radius: 3px;
    padding: 5px 10px;
    box-shadow: none;
}
div.input.input--focus textarea#message,
div.input.input--focus input#email,
div.input.input--focus input#name,
div.input.input--focus input#captcha {
    background: #f3f3f3;
    color: #484848;
}
div.input.input--focus label {
    -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
            transform: translateY(-30px);
}
div.input.input--focus label#messageLabel {
    -webkit-transform: translateY(-160px);
        -ms-transform: translateY(-160px);
            transform: translateY(-160px);
}
body.kontakt .ap_ajax_qc .input {
    margin: 0 0 32px 0;
}
body.kontakt .ap_ajax_qc label {
    padding: 8px 0px 8px 10px;
}
.input label {
    position: absolute;
    color: #808080;
    font-size: 14px;
    cursor: text;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
body.desktop .item-page.kontakt .articleBody form {
    margin-left: 50px;
}
.item-page.kontakt .articleBody form {
    overflow: hidden;
    padding-top: 30px;
}
.translate {
    opacity: 0;
    -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
            transform: translateY(100px);
}
body#body.kontakt {
    background: transparent;
}
.item-page.kontakt,
.search.no-svg-layout {
    background: #fff;
    margin-top: 0px;
    position: relative;
    z-index: 1;
    opacity: 1;    
}
body#body .item-page.kontakt .articleBody {
    display: block;
    width: 80%;
    top: 0px;
    left: 20%;
    /*opacity: 0;
    transform: translateX(100%);*/
}
body#body.impressum .item-page,
body#body.datenschutz .item-page {
    position: initial;
    height: initial;
}
body#body .item-page.no-svg-layout.impressum .articleBody,
body#body .item-page.no-svg-layout.datenschutz .articleBody {
    width: 50%;
    margin-top: 80px;
    position: initial;
    height: initial;
}
body#body.impressum svg.transitionSvg,
body#body.datenschutz svg.transitionSvg {
    display: none;
}
body#body.impressum .item-page h2,
body#body.datenschutz .item-page h2 {
    font-size: 24px;
    font-style: normal;
}
body#body.impressum,
body#body.datenschutz {
    overflow-y: scroll;
}
body#body.impressum div#svgLayout>svg,
body#body.datenschutz div#svgLayout svg {
    display: none;
}
body#body.impressum main#contentMain,
body#body.datenschutz main#contentMain,
body#body.phone main#contentMain div.suche {
    position: initial;
    margin-bottom: 60px;
}
body.desktop.impressum a.homeBtn:after,
body.desktop.datenschutz a.homeBtn:after {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}
body#body.start svg#kontakt_ebene path#kontaktString,
body#body.back svg#kontakt_ebene path#kontaktString {
    stroke: rgba(255, 255, 255, 0.75);
}
body#body.btnStart svg#kontakt_ebene path#kontaktString,
body#body.specialChar svg#kontakt_ebene path#kontaktString {
    stroke: rgba(72, 72, 72, 0.6);
}
body#body.start.kontakt svg#kontakt_ebene path#kontaktString,
body#body.back.kontakt svg#kontakt_ebene path#kontaktString,
body#body.btnStart.kontakt svg#kontakt_ebene path#kontaktString,
body#body.specialChar.kontakt svg#kontakt_ebene path#kontaktString,
body#body.start.kontakt svg#kontakt_ebene path#umschlagIcon,
body#body.back.kontakt svg#kontakt_ebene path#umschlagIcon,
body#body.btnStart svg#kontakt_ebene path#umschlagIcon,
body#body.specialChar svg#kontakt_ebene path#umschlagIcon,
body#body.start.kontakt svg#kontakt_ebene path#telefonIcon,
body#body.back.kontakt svg#kontakt_ebene path#telefonIcon,
body#body.btnStart svg#kontakt_ebene path#telefonIcon,
body#body.specialChar svg#kontakt_ebene path#telefonIcon {
    stroke: rgba(72, 72, 72, 0.6);
}
body#body.specialChar div#kontaktWrapper:before,
body#body.btnStart div#kontaktWrapper:before,
body#body.kontakt div#kontaktWrapper:before {
    background: #484848;
}
body#body .ap_ajax_qc .success {
    width: 50%;
    padding: 50px 0;
    margin: 50px 0px;
    text-shadow: none;
    border-radius: 2px;
    background: linear-gradient(to bottom, #ffffff 10%,rgba(223, 240, 216, 0.5) 70%, #fff 100%);
    color: #468847;
    border: none;
    background-color: transparent;
}
body#body .success h3 {
    font-size: 21px;
}
body#body .success p {
    font-size: 18px;
}
/*<--- END kontakt*/
#footer a,
#footer {
    font-size: 14px;
    text-decoration: none;
/*    opacity: 0;
    -webkit-animation: fadein 2s forwards 5s;
        animation: fadein 2s forwards 5s;*/
}
body.desktop .footer--container {
    right: 100px;
}
footer#footer {
  position: relative;
}
body:not(.phone) footer .footer--container {
    position: absolute;
    bottom: 50px;
    z-index: 1;
}
body.start #footer a,
body.back #footer a,
body.start #footer,
body.back #footer {
    color: #ccc;
    padding: 2px;
    border-radius: 1px;
    background: transparent;
    transition: all 0.3s ease-in-out;
}
body.start #footer a:hover,
body.back #footer a:hover {
    color: #484848;
    background: #fff;
}
body.btnStart #footer a,
body.specialChar #footer a,
body.btnStart #footer {
    color: #484848;
    background: transparent;
    transition: color 0.5s ease-in-out 2s;
}
body:not(.phone) p.copyRight {
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-size: 12px;
}
/*body.btnStart #footer a:hover,
body.specialChar #footer a:hover {
    color: #fff;
    background: #484848;
}*/

/*<-- END content*/

/*svg Shape*/
body#body.desktop.Firefox svg#Ebene_1,
body#body.desktop.Firefox svg#navDotDots {
    width: 100vw;
    height: 100vh;
}
/*body.desktop g#nav-dots-inner-kreis {
    -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
            transform: translateX(-20px);
}*/
#svgGrid--container {
  -webkit-perspective: 1000px;
          perspective: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;    
}
#svgMenuBkgr rect {
    -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
}
/*#svgShape {
    position: relative;
    z-index: 10;
    margin: -5px 0 0 0;
}
*/

#svgShape {
    transform: translateY(0%);
    display: block;
    position: relative;
    z-index: 2;

}
#svgPath {
    fill: #0e0e0e;
}
body.desktop.specialChar #arrow path,
body.desktop.btnStart #arrow path,
body.desktop.specialChar #arrow-2 path,
body.desktop.btnStart #arrow-2 path {
    stroke: #484848;
}
/*<---END svg Shape*/
/*non-critical*/

dd.result-category {
    display: none;
}
dd.result-text {
    margin: 10px 0px 20px;
}
.form-limit {
    display: none;
}

body.desktop .nav--InsideContainer.blog:hover:before,
body.mobile .nav--InsideContainer.blog.blog-info {
    opacity: 1;
}
body.desktop .nav--InsideContainer.blog:before,
body.mobile .nav--InsideContainer.blog:before {
    content: 'coming soon';
    position: absolute;
    height: 50px;
    width: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border: 3px solid #fff;
    border-radius: 3px;
    transform: rotate(-25deg);
    z-index: 1;
    opacity: 0;
}
body:not(.mobile) .nav--InsideContainer.blog:hover:after,
body:not(.mobile) .nav--InsideContainer.blog:hover div,
body:not(.mobile) .nav--InsideContainer.blog:hover img,
body:not(.mobile) .nav--InsideContainer.blog:hover a {
    filter: blur(7px);
}
body#body.mobile .nav--InsideContainer.blog:before {
    font-size: 24px;
}

/*resize Alarm*/
body.desktop #resizeAlarm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
}
body.desktop #resizeAlarm p {
    line-height: 50px;
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 3px #333333;
    -webkit-transform: translate(0%,50%);
        -ms-transform: translate(0%,50%);
            transform: translate(0%,50%);
}