/*critical*/
html {
}
body {
    width: 100%;
    height: auto;
    overflow: hidden;
}
a {
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
a:focus {
    outline: 0;
    outline: none;
}
:root {
    --prim-color: #484848;
}
/*Fonts*/
@font-face {
    font-family: 'rubikblack';
    src: url('/templates/0911-clivetemplate/fonts/rubik-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rubikregular';
    src: url('/templates/0911-clivetemplate/fonts/rubik-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rubikLight';
    src: url('/templates/0911-clivetemplate/fonts/Rubik-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*<- Fonts End*/
h1, h2, h3, h4, p {
    font-family: 'rubikLight';
}
body#body p, 
body#body a {
    font-family: 'rubikLight';
}
body.back {
    animation:fadein .5s ease-in-out ;
      -webkit-animation:fadein .5s ease-in-out; 
}
    @-webkit-keyframes fadein 
    { from {opacity:0} to {opacity:1} }
    @keyframes fadein 
    { from {opacity:0} to {opacity:1} }

body svg,
body #contentMain {
    visibility: hidden;
}
body.ready svg,
body.ready #contentMain {
    visibility: visible;
}

/* preloader */

/*<---- END PreLoader*/
/*#bar {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  clear: both;
  margin: 90px 0px;
}
progress#bar,
progress#bar::-webkit-progress-bar {
  background: #fff;
}
progress#bar[value]::-webkit-progress-value,
progress#bar[value] {
    background-image: 
     -webkit-linear-gradient(top, 
                             rgba(255, 255, 255, .25), 
                             rgba(0, 0, 0, .25)),
     -webkit-linear-gradient(left, #fff, #484848, #fff);  
    background-image: 
     -moz-linear-gradient(top, 
                             rgba(255, 255, 255, .25), 
                             rgba(0, 0, 0, .25)),
     -moz-linear-gradient(left, #484848, #fff);    
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}*/
#preLoader {
    display: none;
}
.preLoader--char {
    float: left;  
}
body#body.start #preLoader, 
body#body.back #preLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.preLoader {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
    color: #484848;
}
@keyframes preLoadAni {
  0%{ opacity: 0;}
  100%{ opacity: 1;}
}
.preLoader--char {
    animation: preLoadAni 0.2s;
    animation-iteration-count: 10;
    width: 100px;
    display: block;
}
.preLoader--char:nth-child(1) {
    animation-delay: 0.05s;
}
.preLoader--char:nth-child(2) {
    animation-delay: 0.2s;  
}
.preLoader--char:nth-child(3) {
    animation-delay: 0.15s;
}
.preLoader--char:nth-child(4) {
    animation-delay: 0.1s;
}


/*content*/

a.rippleBtn,
a.homeBtn,
button.rippleBtn {
    -webkit-font-smoothing: antialiased;
    -webkit-filter: url("#filter-ripple-1");
    filter: url("#filter-ripple-1");
    background: transparent;
}
.svg-filters {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
}
body.back p.startBtn--wrapper {
    opacity: 1;
}
p.startBtn--wrapper {
    opacity: 0;
    position: relative;
    top: 20px;    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
a.nextBtn {
    font-size: 18px;
    text-decoration: none;
    padding: 10px 45px;
    color: #484848;
    border: 1px solid #484848;
    position: relative;
    overflow: hidden;    
    transition: all 0.2s ease-in-out;
}
a.nextBtn:hover {
    background: rgba(72, 72, 72, 0.5);
    color: #fff;
    text-shadow: 0px 10px 20px #000;
}
a.startBtn,
a.homeBtn,
button.rippleBtn {
    font-size: 18px;
    text-decoration: none;
    padding: 10px 45px;
    border-radius: 2px;
}
a.startBtn{
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    overflow: hidden;
    text-shadow: 0px 10px 20px #000;
}
.item-page.start a.startBtn.rippleBtn:after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    top: -100px;
    left: -50px;
    z-index: -1;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
}
.item-page.start a.startBtn.rippleBtn:after {
    background: rgba(255,255,255, 0.4);
}
.item-page.start a.startBtn.rippleBtn:hover:after {
    transform: scale(1);
}
a.startBtn.rippleBtn:hover {
    border-color: #484848;
}
a.homeBtn {
    color: #484848;
    position: relative;
    margin-right: 10px;
}
a.homeBtn:after {
    content: 'home';
    position: absolute;
    top: 7px;
    right: 0px;
}
body.desktop a.homeBtn:after {
    opacity: 0;
    -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
body.desktop a.homeBtn:hover:after {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
}
button.rippleBtn {
    color: #484848;
    border: 1px solid #484848;
}
.headerWrapper,
.contentWrapper {
    overflow: hidden;
}
body.desktop .headerWrapper {
    flex-basis: 45%;
}
body.desktop .contentWrapper {
    flex-basis: 55%;
}
.item-page h1, 
.item-page h2 {
    color: var(--prim-color);
    text-shadow: rgba(72, 72, 72, 0.2) 7px 7px 16px;
    font-weight: normal;
}
.item-page.specialChar h2 {
    font-size: 32px;
    font-style: italic;
}
.item-page.specialChar h1>div {
    opacity: 0;
}
.item-page.specialChar p {
    font-size: 18px;
    line-height: 25px;
}
h1.headerProgress {
    font-size: 62px;
    position: relative;
}
/*body.desktop .headerWrapper {
    margin-right: calc(200px + 256 * ((100vw - 1920px)/ 1920));
}*/
body.desktop .item-page.specialChar .articleBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100vw - 48%);
/*    -ms-flex-pack: distribute;
        justify-content: space-around;*/
    position: absolute;
    top: 36vh;
    left: 27vw;
    margin-bottom: 30px;
    z-index: 2;
}
body.desktop .item-page.start .articleBody #startHeader {
    padding-right: 100px;
}
.item-page.start .articleBody {
    position: relative;
    z-index: 2;
/*    position: absolute;
    top: 55%;
    left: 47%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);*/
}
.specialChar h1.headerProgress:before {
    content: "</";
    position: relative;
}
.specialChar h1.headerProgress:after {
    content: ">";
    position: relative;
}
#startHeader {
/*    -webkit-perspective: 500px;
            perspective: 500px;*/
}
body.back div#startHeader h1,
body.back div#startHeader h2 {
    opacity: 1;
}
body.back div#startHeader h1 {
    text-shadow: rgba(255, 255, 255, 0.2) -20px 0px 2px;
}
div#startHeader h1 {
    opacity: 0;
    font-size: calc(21px + (72 - 21 ) * ((100vw - 320px) / (1920 - 320)));
    letter-spacing: 2px;
    font-weight: 100;
    margin: 0;
}
div#startHeader h2 {
    opacity: 0;
    -webkit-transform: translateX(59%);
        -ms-transform: translateX(59%);
            transform: translateX(59%);
    line-height: 30px;
    font-size: calc(18px + (32 - 18 ) * ((100vw - 320px) / (1920 - 320)));
    background: rgba(255,255,255, 0.3);
    padding: 0px 5px;
    border-radius: 2px;
}
body#body.desktop {
    background: url(/images/0911-webdesign-background.jpg) left top no-repeat;
    background-size: cover;
    background-position: 0vw 0vh;
}    
body#body {    
    overflow: hidden;
        height: 100vh;
}
div#wrapper,
.item-page.start  {
    position: relative;
}
body.desktop div#wrapper {
    will-change: filter;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transition: .3s ease-in-out .9s;
    -o-transition: .3s ease-in-out .9s;
    transition: .3s ease-in-out .9s;
}
/*body.start div#wrapper.blur,
body.back div#wrapper.blur {
    -webkit-filter: blur(7px) invert(0) contrast(550);
            filter: blur(7px) invert(0) contrast(550); 
}*/
body.desktop div#wrapper.blur {
    will-change: filter;  
/*    -webkit-filter: blur(7px) invert(1) contrast(550);
            filter: blur(7px) invert(1) contrast(550); */
   -webkit-filter: blur(7px) contrast(550);
            filter: blur(7px) contrast(550);             
    -webkit-transition: .3s ease-in-out 2.5s;   
    -o-transition: .3s ease-in-out 2.5s;   
    transition: .3s ease-in-out 2.5s;
}
body.start.desktop div#wrapper.blur,
body.back.desktop div#wrapper.blur {
    will-change: filter;  
/*    -webkit-filter: blur(7px) invert(1) contrast(550);
            filter: blur(7px) invert(1) contrast(550); */
   -webkit-filter: blur(7px);
            filter: blur(7px);
}
.item-page.start,
.item-page  {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 56px;    
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
main#contentMain {
    position: absolute;
    top: 0;
    left: 0;
}
.item-page.start h1,
.item-page.start h2 {
    color: #fff;
}


/*<--- End content */

    /*sections*/   

    /*<--END sections*/
  

/*Menus*/


/*<-- END Menu*/


/*button offerMore*/
#offerMore {
    position: relative;
    top: calc(100vh - 53vh);
    z-index: 3;
    cursor: pointer;
    background: transparent;
    color: #fff;
    border: 3px solid #fff;
    font-size: 14px;
    padding: 15px 50px;
    margin: 20px 30px;
    opacity: 0;
    font-size: 16px;
    -webkit-transition: 
        background 0.4s;
    -o-transition: 
        background 0.4s;
    transition: 
        background 0.4s;
}
#offerMore:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: -1;
  -webkit-transition: 
    all .35s ease-out;
  -o-transition: 
    all .35s ease-out;
  transition: 
    all .35s ease-out;
}
#offerMore:hover { color: #444; }
#offerMore:hover:after {
  height: 100%;
}
textarea, input, button { outline: none; }
#offerMore {
  -webkit-font-smoothing: antialiased;
  -webkit-filter: url("#filter-ripple-1");
  filter: url("#filter-ripple-1");
}
.svg-filters {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
}

/*<- END button offerMore ->*/

    /*polygonBckgr*/
div#polygonBckgr {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
body#body.ready div#polygonBckgr {
    visibility: visible;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    width: 100vw;  
    height: 100vh;
    text-align: center;
    /*background-image: linear-gradient(45deg, #5671bd 35%, #dcdcdc 95%);*/
    /*background-image: linear-gradient(45deg, #b2b9ce 35%, #dcdcdc 95%);*/
    /*background-image:  linear-gradient(45deg, #aebadc 35%, #dcdcdc 95%);*/
    /*background-image: linear-gradient(45deg, rgba(204, 210, 228, 0.9) 35%, rgba(220, 220, 220, 0.3) 95%);*/
    background-image: linear-gradient(45deg, rgba(183, 191, 214, 0.8) 35%, rgba(220, 220, 220, 0.3) 95%);
    background-position: top, center;
    background-repeat: no-repeat, no-repeat;
    cursor: default;
}
    /*<--- END polygonBckgr*/

/*nav dot menue*/

g#nav-dots-inner-kreis ellipse {
    cursor: pointer;
}
p.menueTitle {
    color: #fff;
    position: absolute;
    top: -3px;
    transition: all 1s linear 1s;
}
.navDotWrapper.not_home p.menueTitle {
    color: #484848;
    background: #c4c6ce;
    padding: 0 10px 0 5px;
}
.navDotWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
a.ellipseLink {
    color: rgba(255,255,255,0);
    font-size: 21px;
    padding: 0px 10px 10px;
    text-decoration: none;
    display: none;
    /*opacity: 0;*/
    position: relative;
    overflow: initial;
    z-index: 1;
    transition: all .3s ease-in-out;  
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
}
.dotLinkActive.ellipseLink--home:after,
.dotLinkActive.ellipseLink--home:before {
  content: 'home'; /*CG: normalerweise content: attr(title)-> funktioniert aber offenbahr nich wenn innerhalb foreignobject*/
}
.dotLinkActive.ellipseLink--design:after,
.dotLinkActive.ellipseLink--design:before {
  content: 'design'; 
}
.dotLinkActive.ellipseLink--performance:after,
.dotLinkActive.ellipseLink--performance:before {
  content: 'performance'; 
}
.dotLinkActive.ellipseLink--konzeption:after,
.dotLinkActive.ellipseLink--konzeption:before {
  content: 'konzeption'; 
}
.ellipseLink:after {
  position: absolute;
  width: 100%;
  height: 100%;  
  left: 0;
  top: 8px;
  opacity: 0; /*CG: bei Pseudeo Elementen hier die Aushame mit opacity innerhalb foreignobject*/
  color: rgba(0,128,0, 0);
  z-index: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.ellipseLink:before,
.ellipseLink:after {
    padding-left: 10px;
}
.ellipseLink:before {
  position: absolute;
  width: 100%;
  height: 100%;    
  left: 0;
  top: -8px;
  opacity: 0;
  color: rgba(255,0,0, 0);
  z-index: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/*.ellipseLink.dotLinkActive,
.ellipseLink.dotLinkActive:hover{
}*/
.ellipseLink.dotLinkActive,
.ellipseLink:hover,
.ellipseLink.dotLinkActive:hover {
    display: block;
    /*opacity: 1;*/
    color: rgba(255,255,255,1);
  -webkit-animation: noise 3s linear infinite;
          animation: noise 3s linear infinite;
  -webkit-filter: url(#displacementFilter);
          filter: url(#displacementFilter);
}
.ellipseLink.dotLinkActive:after,
.ellipseLink:hover:after,
.ellipseLink.dotLinkActive:hover:after,
.ellipseLink:after {
  -webkit-animation: noise-1 1s linear infinite .1s;
          animation: noise-1 1s linear infinite .1s;
          opacity: 1;
}
.ellipseLink.dotLinkActive:before,
.ellipseLink:hover:before,
.ellipseLink.dotLinkActive:hover:before,
.ellipseLink:before {
  -webkit-animation: noise-2 1s linear infinite .2s;
          animation: noise-2 1s linear infinite .2s;
          opacity: 1;
}
#svgFilter {
    position:relative;
    z-index: 1;
}
@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {color: rgba(0,128,0, 0);}
  10% {color: rgba(0,128,0, 0.1 );}
  50% {color: rgba(0,128,0,0.5 ); left: -6px;}
  80% {color: rgba(0,128,0, 0.3);}
  100% {color: rgba(0,128,0, 0.6); left: 2px;}
}
@keyframes noise-1beyondStart {
  0%, 20%, 40%, 60%, 70%, 90% {color: rgba(0,0,255, 0);}
  10% {color: rgba(0,0,255, 0.1 );}
  50% {color: rgba(0,0,255,0.4 ); left: -6px;}
  80% {color: rgba(0,0,255, 0.3);}
  100% {color: rgba(0,0,255, 0.5); left: 2px;}
}
@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {color: rgba(255,255,255, 0);}
  10% {color: rgba(255,0,0, 0.1);}
  50% {color: rgba(255,0,0,, 0.5); left: 6px;}
  80% {color: rgba(255,0,0, 0.3);}
  100% {color: rgba(255,0,0, 0.6); left: -2px;}
}
@keyframes noise {
  0%, 3%, 5%, 42%, 46%, 44%, 100% {color: rgba(255,255,255, 1 ); }  
  4.3% {color: rgba(255,255,255, 1); }
  43% {color: rgba(255,255,255, 1); }
  45% {color: rgba(255,255,255, 0.2);}
  79% {color: rgba(255,255,255, 0.9);}
  80% {color: rgba(255,255,255, 0.2);}
  82% {color: rgba(255,255,255, 0.8);}
  84% {color: rgba(255,255,255, 0.4);}
}
@keyframes noiseBeyondStart {
  0%, 3%, 5%, 42%, 46%, 44%, 100% {color: rgba(72,72,72, 1 ); }  
  4.3% {color: rgba(72,72,72, 1); }
  43% {color: rgba(72,72,72, 1); }
  45% {color: rgba(72,72,72, 0.2);}
  79% {color: rgba(72,72,72, 0.9);}
  80% {color: rgba(72,72,72, 0.2);}
  82% {color: rgba(72,72,72, 0.8);}
  84% {color: rgba(72,72,72, 0.4);}
}
.st-line {
    visibility: hidden;
    stroke: #fff;
}
.ellipseLinkParent {
    stroke-width: 10px;
    -webkit-transition: all .15s cubic-bezier(.52,1.17,.58,1.53);
    -o-transition: all .15s cubic-bezier(.52,1.17,.58,1.53);
    transition: all .15s cubic-bezier(.52,1.17,.58,1.53);
    z-index: 999;
}
.ellipseLinkParent:hover {
    stroke-width: 25px;
}
g[id^="cross-small"] {
    z-index: -1;
}
.ellipseLinkParent:hover g[id^="cross-small"] {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}
.navDotWrapper.not_home .ellipseLink.dotLinkActive,
.navDotWrapper.not_home .ellipseLink:hover,
.navDotWrapper.not_home .ellipseLink.dotLinkActive:hover {
    color: rgba(72,72,72, 1);
  -webkit-animation: noiseBeyondStart 3s linear infinite;
          animation: noiseBeyondStart 3s linear infinite;    
}
.navDotWrapper.not_home .ellipseLink:after {
    top: 3px;
  -webkit-animation: noise-1beyondStart 2s linear infinite .1s;
          animation: noise-1beyondStart 2s linear infinite .1s;    
}

.navDotWrapper.not_home .ellipseLink:before {
    top: -3px;
    opacity: 0.6;
}
.navDotWrapper.not_home .st-line {
    stroke: #d3d3d3;
}
/*<---- END nav dot menue*/

  /*Menu / hamburger*/
body#body a.subMenu__list--link:before {
    background: #333;
    border-radius: 3px;
}
body#body .subMenu__list li:nth-child(1) a.subMenu__list--link:before {
    width: 250px;
}
body#body .subMenu__list li:nth-child(2) a.subMenu__list--link:before {
    width: 350px;
}
body#body .subMenu__list li:nth-child(3) a.subMenu__list--link:before {
    width: 140px;   
}
body#body.desktop .subMenu__list li a.subMenu__list--link:hover:before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}
a.subMenu__list--link:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 20px;
    top: 20px;
    left: -10px;
    z-index: -1;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: top 0.5s ease-out 0.2s,
                -webkit-transform .3s ease-in;
    transition: top 0.5s ease-out 0.2s,
                -webkit-transform .3s ease-in;
    -o-transition: transform .3s ease-in,
                top 0.5s ease-out 0.2s;
    transition: transform .3s ease-in,
                top 0.5s ease-out 0.2s;
    transition: transform .3s ease-in,
                top 0.5s ease-out 0.2s,
                -webkit-transform .3s ease-in;
}
ul.subMenu__list li {
    text-align: center;
}
body.desktop a.subMenu__list--link:hover span {
    top: -10px;
    opacity: 1;
}
a.subMenu__list--link span {
    color: #333;
    font-size: 14px;
    font-style: italic;
    text-transform: none;
    position: relative;
    top: -20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
ul.subMenu__list.hamOpen li a {
    position: relative;
}
ul.subMenu__list li {
    overflow: hidden;
    margin: 10px 0px;
    opacity: 0;
    transform: translateY(200px);
}
ul.subMenu__list.hamOpen li {
/*    transform: translateX(0px);
    opacity: 1;*/
}
ul.subMenu__list {
    display: none;
    padding: 0px;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
    height: 50vh;
    top: 10vh;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    z-index: 4;    
}
ul.subMenu__list .subMenu__list--link {
    color: #fff;
    font-size: 3em;
    line-height: 37px;
    margin-bottom: 100px;
    text-shadow: rgba(72, 72, 72, 0.2) 7px 7px 16px;
    text-decoration: none;
    text-transform: uppercase;
}
ul.subMenu__list.hamOpen {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

#menuBtnWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: 5;
}
button#menu-toggle {
    background: transparent;
    border: none;
    padding: 20px;
    position: relative;
    opacity: 0;
    transition: opacity 4.5s ease-in-out 1s;
}
body#body.ready button#menu-toggle {
    opacity: 1;
}
body#body.back .line,
.line {
    width: 45px;
    height: 2px;
    background: #fff;
    position: relative;
    border-radius: 10%;
}
body#body.btnStart button#menu-toggle .line,
body#body.design button#menu-toggle .line,
body#body.performance button#menu-toggle .line,
body#body.konzeption button#menu-toggle .line {
    background: #484848;
}
body#body.start button#menu-toggle .line,
body#body.back button#menu-toggle .line {
    background: #fff;
      transition: background .05s linear .5s;
}
body.start button#menu-toggle.openAnimation .line,
body.back button#menu-toggle.openAnimation .line {
    background: #484848;
    transition: background .05s linear 2s ;
}
body.start button#menu-toggle.openAnimation .text,
body.back button#menu-toggle.openAnimation .text {
    transition: color .05s linear 1.7s ;
}
.top.line {
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
}
.text {
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
}
.line:before,
.line:after {
    content: ' ';
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0;
    opacity: 0;
    z-index: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.line:before {
    top: 4px;  
    background: red;  
}
.line:after {
    top: -4px;  
    background: blue;  
}
.line:first-child {
    margin-top: 0px;
}
.line {
    margin-top: 7px;
}
body#body.ready .line {
    opacity: 1;
}
body#body.back .text,
.text {
    position: absolute;
    top: 21px;
    left: 20px;
    color: #fff;
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
    transform: translatex(100px) rotate(0deg);
    transition: all .1s ease-in-out;
}
body.btnStart .text,
body.design .text,
body.performance .text,
body.konzeption .text,
body.start button#menu-toggle.openAnimation .text,
body.back button#menu-toggle.openAnimation .text {
    color: #484848;
}
body.desktop button#menu-toggle:hover .text,
.btn-toggle.openAnimation .text {
    transform: translatex(0px);
    visibility:visible;
    opacity: 1;
    transition: all .4s ease-in-out;
    
}
.line:nth-child(2) {
    transform: scalex(1);
    transform-origin: left top;
    transition: all .3s ease-in-out;
}
.btn-toggle.openAnimation .line:nth-child(2) {
    transform: scalex(0);
}
body.desktop button#menu-toggle:hover .line:nth-child(2) {
    transform: scalex(0);
}
body.desktop button#menu-toggle:hover .line:before {
  -webkit-animation: noiseHam 1s linear infinite .1s;
          animation: noiseHam 1s linear infinite .1s;
          opacity: 1;
}
body.desktop button#menu-toggle:hover .line:after {
  -webkit-animation: noiseHam-2 1s linear infinite .2s;
          animation: noiseHam-2 1s linear infinite .2s;
          opacity: 1;
}
body.desktop button#menu-toggle:hover .line,
body.desktop button#menu-toggle:hover .line:before,
body.desktop button#menu-toggle:hover .line:after,
body.desktop button#menu-toggle:hover .text {
  -webkit-filter: url(#displacementFilter);
          filter: url(#displacementFilter);
}
@-webkit-keyframes noiseHam {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}
@keyframes noiseHam {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}
@-webkit-keyframes noiseHam-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}
@keyframes noiseHam-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

.line.loadAni:nth-child(1) {
  -webkit-animation: lineAni 4s cubic-bezier(0,.12,.36,1.76) 3s forwards;
          animation: lineAni 4s cubic-bezier(0,.12,.36,1.76) 3s forwards
}
.line.loadAni:nth-child(2) {
  -webkit-animation: lineAni 4.5s cubic-bezier(0,.12,.36,1.76) 3.3s forwards;
          animation: lineAni 4.5s cubic-bezier(0,.12,.36,1.76) 3.3s forwards
}
.line.loadAni:nth-child(3) {
  -webkit-animation: lineAni 5s cubic-bezier(0,.12,.36,1.76) 3.5s forwards;
          animation: lineAni 5s cubic-bezier(0,.12,.36,1.76) 3.5s forwards
}
@-webkit-keyframes lineAni {
  0%, 100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
  10% {-webkit-transform: translateY(300px);transform: translateY(300px);}
  20% {-webkit-transform: translateY(-300px);transform: translateY(-300px);}
  30% {-webkit-transform: translateY(200px);transform: translateY(200px);}
  40% {-webkit-transform: translateY(-200px);transform: translateY(-200px);}
  50% {-webkit-transform: translateY(100px);transform: translateY(100px);}
  60% {-webkit-transform: translateY(-100px);transform: translateY(-100px);}
  70% {-webkit-transform: translateY(50px);transform: translateY(50px);}
  90% {-webkit-transform: translateY(-50px);transform: translateY(-50px);}
}
@keyframes lineAni {
  0%, 100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
  10% {-webkit-transform: translateY(300px);transform: translateY(300px);}
  20% {-webkit-transform: translateY(-300px);transform: translateY(-300px);}
  30% {-webkit-transform: translateY(200px);transform: translateY(200px);}
  40% {-webkit-transform: translateY(-200px);transform: translateY(-200px);}
  50% {-webkit-transform: translateY(100px);transform: translateY(100px);}
  60% {-webkit-transform: translateY(-100px);transform: translateY(-100px);}
  70% {-webkit-transform: translateY(50px);transform: translateY(50px);}
  90% {-webkit-transform: translateY(-50px);transform: translateY(-50px);}
}
  /*<--END Menu / hamburger*/

/*<-- END content*/

/*svg Shape*/

#svgGrid--container {
  -webkit-perspective: 500px;
          perspective: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;    
}
#svgMenuBkgr rect {
    -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
}

/*#svgShape {
    position: relative;
    z-index: 10;
    margin: -5px 0 0 0;
}
*/


#svgShape {
    transform: translateY(0%);
    display: block;
    position: relative;
    z-index: 2;

}
#svgPath {
    fill: #0e0e0e;
}

/*<---END svg Shape*/
/*non-critical*/

/*resize Alarm*/
body.desktop #resizeAlarm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
}
body.desktop #resizeAlarm p {
    line-height: 50px;
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 3px #333333;
    -webkit-transform: translate(0%,50%);
        -ms-transform: translate(0%,50%);
            transform: translate(0%,50%);
}